.img-archive-attachment {
 padding-left: 11px;
 padding-top: 15px;  
}

strong {
 font-weight: 500;
 font-family: MTTMilano-Medium, Lato, Arial, sans-serif;
}
.content-document {
 width: 93%;
 padding-left: 15px;
 font-size: 16px;
}

.add-more {
 color: #001978;
 font-size: 16px;
 font-weight: 700;
}

.document-add-more-container {
 padding-bottom: 1rem;
 padding-left: 0px;
 margin-left: -12px;
}

.add-more strong {
 cursor: pointer;
 margin-right: 20px;
}

.add-more strong {
 text-decoration: underline;
 line-height: 19px;
}
   