body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 12.8px;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  /* color: #001978 !important; */
  color: #001978;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
a:hover {
  outline: none;
  text-decoration: none;
}

ul {
  list-style: none;
}

strong {
  font-weight: 500;
  font-family: MTTMilano-Medium, Lato, Arial, sans-serif;
  font-size: 16px;
}

/* Header: BOC */
header h1 {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #ffffff;
  padding-top: 20px;
}

header .tools-bar {
  padding-top: 10px;
}

header .tools-bar a {
  color: #ffffff;
  font-size: 20px;
  display: block;
  width: 34px;
  height: 34px;
  padding: 7px;
  transition: background-color 0.3ms;
  border-radius: 50%;
}
header .tools-bar a:hover {
  background-color: #e5e8f1;
  color: #001978;
}
/* Header: EOC */

/* form-selection-business: BOC */
.form-selection-business {
  padding-top: 80px;
  font-family: MTTMilano-Medium, Lato, Arial, sans-serif;
  font-size: 14px;
}
.form-selection-business p {
  padding-left: 20px;
}
.form-selection-business ul {
  padding-left: 30px;
}
.form-selection-business label {
  color: #001978;
}
.business-alert-warning {
  color: #d0021b;
  font-size: 14px;
  border: solid 1px #d0021b;
  padding: 5px;
}
.business-alert-warning span {
  font-size: 18px;
  margin-right: 5px;
}
/* form-selection-business: EOC */

/* Form components: BOC */
input[type="checkbox"],
input[type="radio"] {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  font-size: 0.1em;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  padding-left: 25px;
  display: inline-block;
  position: relative;
  margin: 5px 20px 5px 0;
}
input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 0;
  border: 1px solid #4a4a4a;
  background: #fff;
}
input[type="checkbox"]:checked + label:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #001978;
  /*border-bottom: 2px solid #01385f;
    border-left: 2px solid #01385f;*/
  position: absolute;
  top: 5px;
  left: 5px;
}
input[type="radio"] + label:before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 4px;
  left: 0;
  border: 1px solid #001978;
  background: #fff;
  border-radius: 50%;
}
input[type="radio"]:checked + label:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: #001978;
  position: absolute;
  border-radius: 50%;
  top: 7px;
  left: 3px;
}

.lexon-select-like-custom-trigger {
  height: 45px;
  width: 350px;
  border: 1px solid #d2d2d2;
  background-color: #ffffff;
  outline: none;
  color: #7c868c;
  font-size: 15px;
  text-align: left;
  position: relative;
  padding-left: 10px;
}
.lexon-select-like-custom-trigger:focus {
  outline: none;
}
.lexon-select-like-custom-trigger span {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #001978;
  transition: all 0.5s ease;
}
.lexon-select-like-custom-trigger.opened span {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.lexon-select-like-custom-list-container {
  transition: all 0.5s ease;
  height: 0;
  width: 350px;
  position: absolute;
  z-index: 2;
  overflow: hidden;
}
.lexon-select-like-custom-list-container.opened {
  height: 230px;
  overflow: visible;
}
.lexon-select-like-custom-list {
  height: 230px;
  width: 350px;
  border: 1px solid #d2d2d2;
  background-color: #ffffff;
  box-shadow: 0 0 4px 1px rgba(102, 175, 233, 0.6);
  position: absolute;
  z-index: 1;
  padding: 5px;
  overflow: scroll;
  overflow-x: hidden;
}
.lexon-select-like-custom-list li {
  border-bottom: solid 1px #001978;
  height: 43px;
  color: #7c868c;
  font-size: 15px;
  line-height: 43px;
  padding: 0 10px;
  margin: 0 2px;
}
.lexon-select-like-custom-list li:last-child {
  border-bottom: none;
}
.lexon-select-like-custom-list li span {
  color: #7c868c;
}
.lexon-select-like-custom-list li.selected,
.lexon-select-like-custom-list li:hover {
  background-color: #e5e8f1;
  color: #001978;
  cursor: pointer;
}
.lexon-select-like-custom-list li.selected span,
.lexon-select-like-custom-list li:hover span {
  color: #001978;
}

.lexon-clasification-list-container {
  border: 1px solid #d2d2d2;
  position: relative;
  z-index: 1;
}
.lexon-clasification-list-container label {
  line-height: 45px;
}
.lexon-clasification-list-search {
  position: absolute;
  top: 0;
  right: -1px;
  display: inline-block;
}
.lexon-clasification-list-search .lexon-clasification-list-results {
  position: relative;
  height: 45px;
  width: 175px;
  float: left;
  padding-top: 5px;
}
.lexon-clasification-list-search p {
  color: #001978;
  font-size: 10px;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 0;
}
.lexon-clasification-list-search p strong {
  font-size: 13px;
}
.lexon-clasification-list-search a.search-trigger-show {
  font-size: 20px;
  color: #001978;
  font-weight: bold !important;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 4px;
  transition: background-color 0.5ms;
  border-radius: 50%;
}
.lexon-clasification-list-search a.search-trigger:hover {
  background-color: #001978;
  color: #e5e8f1;
}
.lexon-clasification-list-searcher {
  width: 0;
  transition: all 0.5s ease;
  display: inline-block;
  height: 45px;
  background-color: #e5e8f1;
  -webkit-border-radius: 50px 0 0 50px;
  border-radius: 50px 0 0 50px;
  line-height: 35px;
  float: right;
  overflow: hidden;
}
.lexon-clasification-list-searcher.opened {
  width: 317px;
}
.lexon-clasification-list-searcher label {
  float: left;
  font-size: 20px;
  margin: 8px 10px 0 10px;
  line-height: inherit;
}
.lexon-clasification-list-searcher input {
  float: left;
  width: 235px;
  background-color: transparent;
  border: none;
  color: #001978;
  font-weight: bold;
  margin-top: 5px;
}
.lexon-clasification-list-searcher a {
  float: right;
  font-size: 12px;
  color: #001978;
  font-weight: bold !important;
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 5px 7px;
  transition: background-color 0.5ms;
  border-radius: 50%;
  line-height: 18px;
  margin: 9px 5px;
}
.lexon-clasification-list-searcher a:hover {
  background-color: #001978;
  color: #e5e8f1;
}
.lexon-clasification-list-container table {
  width: 99%;
  margin: 5px;
}
.lexon-clasification-list-container table thead {
  border-bottom: 1px solid #001978;
  color: #001978;
  font-size: 13px;
  font-weight: bold;
}
.lexon-clasification-list-container table tbody {
  height: 340px;
  /* overflow-y: scroll; */
  display: block;
  width: 99%;
  margin: 5px;
}
.lexon-clasification-list-container table tbody tr {
  border-bottom: 1px solid #d2d2d2;
}

.lexon-clasification-list-container tr {
  display: table; /* display purpose; th's border */
  width: 100%;
  box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
}
.lexon-clasification-list-container table th,
.lexon-clasification-list-container table td {
  padding: 12px;
}
.lexon-clasification-list-container table tr th:nth-child(1),
.lexon-clasification-list-container table tr td:nth-child(1) {
  width: 25%;
}
.lexon-clasification-list-container table tr th:nth-child(2),
.lexon-clasification-list-container table tr td:nth-child(2) {
  width: 25%;
}
.lexon-clasification-list-container table tr th:nth-child(3),
.lexon-clasification-list-container table tr td:nth-child(3) {
  width: 50%;
}
.lexon-clasification-list-container table td span {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 6px;
  transition: background-color 0.3ms;
  border-radius: 50%;
  margin-right: 5px;
}
.lexon-clasification-list-container table tr:hover td span {
  color: #001978;
}
.lexon-clasification-list-container table tr.selected td span {
  background-color: #001978;
  color: #e5e8f1;
}
.lexon-clasification-list-container table tbody tr.selected,
.lexon-clasification-list-container table tbody tr:hover {
  background-color: #e5e8f1;
  cursor: pointer;
  color: #001978;
}

.lexon-documentation-list-container {
  border: 1px solid #d2d2d2;
  position: relative;
  z-index: 1;
}
.lexon-documentation-list {
  border-top: solid 1px #001978;
  font-size: 14px;
  height: 340px;
  overflow-y: scroll;
  display: block;
  width: 99%;
  margin: 5px;
  padding: 0;
}
.lexon-documentation-list li {
  border-bottom: solid 1px #e5e8f1;
  display: block;
  padding: 0 5px;
  line-height: 43px;
  position: relative;
}
.lexon-documentation-list li:last-child {
  border-bottom: none;
}
.lexon-documentation-list li:hover {
  background-color: #e5e8f1;
  cursor: pointer;
  color: #001978;
  font-weight: bold;
}
.lexon-documentation-list li.document:hover {
  background-color: transparent;
  cursor: text;
  color: #333333;
  font-weight: normal;
}
.lexon-documentation-list [class^="lf-icon"],
.lexon-documentation-list [class*=" lf-icon"] {
  font-size: 20px;
  margin-right: 10px;
}

.lexon-documentation-list .lf-icon-angle-right {
  position: absolute;
  top: 10px;
  right: 5px;
  display: none;
}
.lexon-documentation-list li:hover .lf-icon-angle-right {
  display: block;
}
.lexon-clasification-newfolder {
  position: relative;
}
.lexon-clasification-newfolder a {
  position: absolute;
  bottom: -70px;
  color: #001978;
  padding-left: 40px;
}
.lexon-clasification-newfolder a span {
  font-size: 26px;
  position: absolute;
  top: 0;
  left: 10px;
}
.lexon-clasification-newfolder a strong {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}
.newfolderConfig {
  display: none;
  box-sizing: border-box;
  width: 450px;
  padding: 50px 50px 20px 50px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(65, 63, 63, 0.67);
  position: absolute;
  top: 150px;
  left: 180px;
  z-index: 1;
}
.newfolderConfig .form-group {
  padding-bottom: 20px;
}

/* _BREADCRUMB */
.lexon-documentation-breadcrumb {
  color: #001978;
  font-size: 13px;
  font-weight: bold;
  position: relative;
}
.lexon-documentation-breadcrumb:before {
  font-family: "lf-font" !important;
  speak: none;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e997";
  position: absolute;
  display: inline-block;
  left: 10px;
  top: 0;
  text-align: center;
}
.lexon-documentation-breadcrumb li {
  display: inline-block;
  position: relative;
  padding-right: 12px;
}
.lexon-documentation-breadcrumb li:after {
  content: ">";
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  text-align: center;
}
.lexon-documentation-breadcrumb li:last-child:after {
  content: none;
}
.lexon-documentation-breadcrumb li a {
  color: #001978;
  text-decoration: underline;
}

/* Form components: EOC */

/* Items list: BOC */
.connexion-status {
  font-size: 13px;
  color: #ffffff;
  font-weight: 300;
  padding: 11px 40px 15px 20px;
  position: relative;
  margin-left: 1px;
  font-family: MTTMilano, Lato, Arial, sans-serif;
  line-height: 22px;
}

.connexion-status span {
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.connexion-status-ko {
  background-color: #c43741;
}

.connexion-status-ok {
  background-color: #417505;
}
.selected-messages {
  color: #7f8cbb;
  font-size: 12px;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  font-family: MTTMilano, Lato, Arial, sans-serif;
  padding-top: 20px;
}
.selected-messages span {
  background-color: #e5e8f1;
  color: #001978;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  padding-right: 1em;
  padding-left: 1em;
  font-family: MTTMilano, Lato, Arial, sans-serif;
}
.company-id {
  font-size: 14px;
  position: relative;
  line-height: 21px;
  margin-bottom: 30px;
  font-family: MTTMilano, Lato, Arial, sans-serif;
}

.company-id:before {
  background-color: #e5e8f1;
  height: 76px;
  width: 10px;
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: -15px;
  background-color: white;
}
.company-id strong {
  color: #001978;
  font-weight: 500;
}
.company-id a {
  color: #001978;
  font-size: 20px;
  display: block;
  width: 34px;
  height: 34px;
  padding: 7px;
  transition: background-color 0.3ms;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.company-id a:hover {
  background-color: #e5e8f1;
}
.lexon-description {
  line-height: 25px;
}
.menu-lexon-actions {
  border-bottom: 2px solid #001978;
  margin-bottom: 25px;
  font-family: MTTMilano, Lato, Arial, sans-serif;
  /* padding-bottom: 4px;	 */
}
.menu-lexon-actions ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 6px;
}
.menu-lexon-actions li {
  display: inline;
  width: 50%;
}
.menu-lexon-actions a {
  display: inline;
  background-color: #e5e8f1;
  color: #7f8cbb;
  padding: 9px 50px 7px 8px;
  position: relative;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
.menu-lexon-actions a:after {
  border-top: 32px solid #ffffff;
  border-left: 32px solid #e5e8f1;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}
.menu-lexon-actions a.active {
  background-color: #001978;
  color: #ffffff;
}
.menu-lexon-actions a.active:after {
  border-left: 32px solid #001978;
}
.add-more-container {
  padding-bottom: 1rem;
  /* padding-top: 20px; */
}
.add-more {
  color: #001978;
  font-size: 16px;
  font-weight: bold;
}
.add-more strong {
  text-decoration: underline;
  line-height: 19px;
}
.add-more span {
  color: #001978;
  font-size: 20px;
  width: 34px;
  height: 34px;
  padding: 7px;
  transition: background-color 0.3ms;
  border-radius: 50%;
}
.add-more:hover span {
  background-color: #e5e8f1;
}

.lexon-title-list {
  color: #7f8cbb;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  border-bottom: dotted 1px #001978;
  font-family: MTTMilano, Lato, Arial, sans-serif;
}

.lexon-document-list {
  padding: 0;
  width: 320px;
  float: left;
  max-height: 525px;
  /* overflow: auto; */
  margin-bottom: 10px;
  display: block;
  font-family: MTTMilano, Lato, Arial, sans-serif;
}

.lexon-document-list .lexon-item {
  font-size: 14px;
  margin-top: 15px;
}
.lexon-document-list .lexon-item p {
  margin-bottom: 0.5rem;
}
.lexon-document-list .lexon-item strong {
  color: #001978;
}
.lexon-document-list .lexon-item p:last-child {
  border-bottom: dotted 1px #001978;
  padding-bottom: 1rem;
}
.lexon-document-list .lexon-item p.tools-bar {
  padding-bottom: 5px;
  padding-right: 10px;
}
.lexon-document-list .lexon-item a {
  color: #001978;
  font-size: 20px;
  width: 34px;
  height: 34px;
  padding: 7px;
  transition: background-color 0.3ms;
  border-radius: 50%;
}
.lexon-document-list .lexon-item a:hover {
  background-color: #e5e8f1;
}
/* Items list: EOC */

/* PREVIOUS */
.form-box {
  max-width: 450px;
  border: 1px solid #7f8cbb;
  padding: 0 15px;
}

.form-box .bg-grey {
  background-color: #f5f5f5;
}

.form-box .content {
  padding-bottom: 30px;
}

.form-box ul {
  padding: 0;
  border-bottom: 1px solid #ccd1e4;
}

.form-box .bg-grey li {
  list-style: none;
  border-top: none;
  padding: 15px;
  height: 60px;
}

.form-box .bg-grey li:last-of-type {
  border-bottom: 0;
}

.form-box .bg-grey .asociadas {
  color: #001978;
  font-size: 18px;
  font-family: MTTMilano, Lato, Arial, sans-serif;
  padding: 18px;
}

.form-box .bg-grey a {
  padding: 0;
}

.form-box .bg-grey .trash {
  position: relative;
  top: -26px;
  left: 88%;
  font-size: 20px;
  text-align: right;
  width: 50px;
}

/* LISTADO DE CUENTAS ASOCIADAS: BOC */
.other-accounts {
  list-style: none;
  padding: 0;
  text-align: left;
  font-size: 14px;
  max-height: 170px;
  /* overflow: auto; */
  margin-bottom: 0;
  display: block;
}
.other-accounts li a {
  display: block;
  padding: 4px 35px 4px 15px;
  background-color: #f2f3f8;
  position: relative;
}
.other-accounts li a:hover span {
  color: #001978 !important;
}
.other-accounts li a span {
  display: inline;
}
.other-accounts li img {
  width: 20px;
  /* height: 20px; */
  margin-right: 14px;
}
.other-accounts li .lf-icon-arrow-exchange {
  position: absolute;
  right: 10px;
  top: 3px;
  font-size: 17px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 7px;
  transition: background-color 0.3ms;
  border-radius: 50%;
}
.other-accounts li a:hover .lf-icon-arrow-exchange {
  background-color: #e5e8f1;
}
.add-more-accounts {
  color: #001978;
  border-bottom: solid 1px #ccd1e4;
  padding: 5px 10px 0 5px;
  background-color: transparent;
  font-size: 12px;
}
.add-more-accounts strong {
  font-size: 12px;
  font-weight: bolder;
}
.add-more-accounts span {
  color: #001978 !important;
  font-size: 30px;
  width: 40px;
  height: 40px;
  padding: 5px;
  transition: background-color 0.3ms;
  border-radius: 50%;
  margin-right: 10px;
}
.add-more-accounts:hover span {
  background-color: #e5e8f1;
}
.add-more-accounts strong {
  line-height: 1.4;
  text-transform: uppercase;
}
/* LISTADO DE CUENTAS ASOCIADAS: EOC */

.form-box li {
  list-style: none;
  border-top: 1px solid #ccd1e4;
}

.form-box li:hover {
  background-color: #e5e8f1;
  color: #001978 !important;
}
.form-box li:last-of-type {
  border-bottom: 1px solid #ccd1e4;
}
.form-box li [class^="lf-icon"] {
  font-size: 30px;
  margin-left: 0;
  margin-right: 4px;
  color: #001978;
}
.form-box li span {
  font-weight: 400;
}

.form-box li a {
  display: block;
  padding: 11px;
  color: #7c868c;
  width: 100%;
}

.form-box li a span:nth-child(2) {
  padding-left: 10px;
}

.form-box li a:hover {
  color: #001978 !important;
  text-decoration: none;
}

/*.form-box .logo{
	margin-bottom: 44px;	
}*/

.form-box .logo img {
  margin-bottom: 31px;
}

.form-box .logo span {
  font-size: 24px;
  font-weight: 500;
  color: #001978;
  display: block;
}

.form-box .logo .naming {
  font-size: 52px;
  font-family: MTTMilano-Bold, Lato, Arial, sans-serif;
  text-transform: uppercase;
}

.mail-config {
  padding-bottom: 25px !important;
}

.mail-config .content {
  padding-bottom: 0px;
}

.dropdown-menu .content {
  padding: 0 24px;
  float: left;
}

.dropdown-menu .content .menu-title {
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid;
}

.product-list {
  width: 300px;
  float: left;
  max-height: 488px;
  overflow: auto;
  margin-bottom: 40px;
  display: block;
}

.user-options {
  width: 300px;
  display: block;
}

.user-options ul {
  margin-bottom: 30px;
}

.user-options li {
  border-bottom: 1px solid #ccd1e4;
  list-style: none;
  margin-bottom: 15px;
  padding: 0 0 10px 5px;
}

.user-options ul li span {
  font-size: 12px;
  font-family: MTTMilano-Bold, Lato, Arial, sans-serif;
  text-transform: uppercase;
}

.user-options ul li [class^="lf-icon"] {
  font-size: 28px;
  margin-right: 10px;
  font-weight: normal;
}

.user-image-and-name .user-image img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
.user-image-and-name .user-image strong {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  background-color: #001978;
  color: #ccd1e4;
  font-size: 50px;
  text-align: center;
  display: inline-block;
  padding-top: 35px;
}

/* .user-image-and-name .user-image::before {
  font-family: "lf-font";
  content: "\e952";
  position: relative;
  bottom: -35px;
  left: 125px;
  font-size: 22px;
} */

.user-image-and-name span,
.user-image-and-name .other-accounts span {
  display: block;
  margin-bottom: 5px;
  color: #7c868c !important;
}

.user-image-and-name .user-name {
  font-size: 16px;
  font-family: MTTMilano, Lato, Arial, sans-serif;
  color: #7c868c !important;
}

.user-image-and-name .company-name {
  font-size: 12px;
  font-family: MTTMilano-Bold, Lato, Arial, sans-serif;
  text-transform: uppercase;
  color: #7c868c !important;
}

.user-image-and-name .scrollbar-container {
  border-top: solid 1px #ccd1e4;
  border-bottom: solid 1px #ccd1e4;
  width: 300px;
}

.btn-primary,
.btn-primary:hover {
  background-color: #001978;
  border-radius: 0;
  border: 2px solid #001978;
  text-transform: uppercase;
  font-size: 13px;
  font-family: MTTMilano-Bold, Lato, Arial, sans-serif;
  letter-spacing: 0.7px;
  padding: 10px 0;
  margin-top: 30px;
  margin-bottom: 20px;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #001978;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled):focus {
  box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #e5e8f1;
  color: #001978;
  border-color: #001978;
}

.btn-outline-primary {
  border-radius: 0;
  border: 2px solid #001978;
  text-transform: uppercase;
  font-size: 13px;
  font-family: MTTMilano-Bold, Lato, Arial, sans-serif;
  letter-spacing: 0.7px;
  color: #001978;
  padding: 10px;
}
.btn-primary-white {
  border-radius: 0;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  font-family: MTTMilano-Bold, Lato, Arial, sans-serif;
  letter-spacing: 0.7px;
  color: #001978;
  padding: 10px;
  min-width: 80px;
}
.btn-outline-secondary-white {
  border-radius: 0;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  font-family: MTTMilano-Bold, Lato, Arial, sans-serif;
  letter-spacing: 0.7px;
  color: #ffffff;
  padding: 10px;
  min-width: 80px;
  background-color: #001978;
}
.btn-primary-white:hover,
.btn-outline-secondary-white:hover {
  background-color: #e5e8f1;
  color: #001978;
  border-color: #ffffff;
}

.app-list,
.user-info {
  top: 38px;
  right: -9px;
}

.product-list li {
  float: left;
  width: 40%;
  list-style: none;
  text-transform: uppercase;
  font-size: 11px;
  margin: 0 5% 31px 5%;
  height: 70px;
}

.product-list span {
  font-family: MTTMilano-Bold, Lato, Arial, sans-serif;
}

.product-list [class^="lf-icon"] {
  color: #fff;
  font-size: 27px;
  font-weight: normal;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #001978;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 9px auto;
  padding: 3%;
}

.product-list [class^="lf-icon"]:hover {
  background: #888eba;
}

.product-description {
  margin-bottom: 25px;
  width: 300px;
}

.product-description span {
  font-size: 14px;
  color: #7c868c !important;
}

.collapse-link,
.collapse-link:hover {
  text-decoration: none;
  font-family: MTTMilano-Bold, Lato, Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #001978;
  padding-bottom: 10px;
  border-bottom: 1px dotted black;
}

.collapse-link span[class^="lf-icon"] {
  margin-right: 10px;
  font-size: 20px;
}

#advancedConfig {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dotted black;
}

@media (width: 320px) {
  .app-list .content {
    padding: 0 5px;
  }
}

@media (max-width: 359px) {
  .user-info .btn-primary,
  .user-info .btn-outline-primary {
    min-width: 180px !important;
  }

  .user-options {
    width: 260px;
  }
}

@media (max-width: 375px) {
  .user-info {
    right: -46px !important;
  }
  .user-info .dropdown-menu-arrow {
    left: 84% !important;
  }
}

@media (max-width: 767px) {
  .btn-primary,
  .btn-outline-primary {
    min-width: 125px !important;
  }
}

@media (min-width: 768px) {
  .form-box .logo span {
    font-size: 26px;
  }
}

/***** FLECHITA PARA LOS DROPDOWN ******/
.dropdown-menu-arrow {
  top: -25px;
  left: 96%;
  width: 0;
  height: 0;
  position: relative;
}

@-moz-document url-prefix() {
  .dropdown-menu-arrow {
    top: -46px;
  }
}

.dropdown-menu-arrow:before,
.dropdown-menu-arrow:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 13px 13px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}
.dropdown-menu-arrow:after {
  bottom: -18px;
  right: -8px;
  border-bottom-color: #fff;
}
.dropdown-menu-arrow:before {
  bottom: -17px;
  right: -8px;
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

/****** RESTYLING PARA LOS DROPDOWN ******/
.dropdown-menu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #cdd1e0;
  border-radius: 0;
  color: #001978;
}

.dropdown-menu a,
.dropdown-menu a:hover,
.dropdown-menu span {
  text-decoration: none;
  color: #001978 !important;
}

.dropdown-menu [class^="lf-icon-close"] {
  font-size: 13px;
}

/****** RESTYLING PARA LOS INPUTS ******/

.not-valid {
  border-color: #d81f2a !important;
}

.form-control:focus {
  box-shadow: 0 0 6px rgba(35, 173, 278, 0.4) !important;
  border: 1px solid #ced4da !important;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input {
  border-radius: 0;
}

.form-group label {
  font-family: MTTMilano-Medium, Lato, Arial, sans-serif;
  font-size: 16px;
  color: #001978;
  margin: 0 10px;
}
.form-group .requerido {
  color: #d81f2a;
  font-size: 20px;
  text-align: start;
}

.form-control:focus {
  box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}

.text-danger {
  color: #d81f2a !important;
}

/****** RESTYLING PARA LOS BOTONES ******/
.btn-primary,
.btn-outline-primary {
  min-width: 165px;
}

.btn-primary,
.btn-primary:hover {
  margin: 0;
  padding: 10px;
}

/****** RESTYLING PARA LOS SWITCHES ******/
.custom-switch label {
  color: #001978;
  font-family: MTTMilano-Medium, Lato, Arial, sans-serif;
  font-size: 16px;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 6px rgba(35, 173, 278, 0.4) !important;
}
.custom-switch .custom-control-label::before {
  border: 2px solid #7c868c;
}

.custom-switch .custom-control-label::after {
  top: calc(0.25rem + 3px);
  left: calc(-2.25rem + 3px);
  width: calc(1rem - 6px);
  height: calc(1rem - 6px);
  background-color: #fff;
  border: 2px solid #7c868c;
}

.custom-control-input:not(:checked) ~ .custom-control-label::before {
  border: 2px solid #7c868c !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #001978;
  background-color: #fff;
}

.custom-control-input:checked ~ .custom-control-label::after {
  border-color: #001978;
}

.custom-switch .custom-control-label::before {
  width: 30px;
  height: 14px;
}

.custom-switch .custom-control-label::after {
  width: calc(1rem - 7px);
  height: calc(1rem - 8px);
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #fff;
  -webkit-transform: translateX(0.95rem);
  transform: translateX(0.95rem);
}

/****** RESTYLING PARA LOS INPUT DE PASSWORD ******/
.form-control.pwdv {
  border-right: 0;
}

.input-group-text.pwdv {
  border-left: 0;
  border-top: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  background: none;
  border-radius: 0;
  color: #001978;
}

.input-group-append a,
.input-group-append a:hover {
  text-decoration: none;
}

.pwdv.lf-icon-visible,
.pwdv.lf-icon-not-visible {
  font-size: 20px;
  line-height: 24px;
}

.type-name {
  margin-left: 10px;
}

#user-box {
  top: -5px !important;
  transform: translate3d(-332px, 45px, 0px) !important;
}
