/* App.jsx */
#info2Dialog {
    max-height: 927px;
    width: 300px;
    z-index: 1001;
    left: 35% !important;
    position: absolute !important;
}

.e-grid .e-table {
    border-collapse: separate;
    table-layout: fixed;
    width: 1147px !important;
}

#info2Dialog #info2Dialog_dialog-header, 
#info2Dialog_title, #info2Dialog_dialog-content, 
#info2Dialog.e-footer-content,
#info2Dialog .e-footer-content {
    background: #001970;
    color: #fff;
    display:flex;
}

#confirmDialog .e-dlg-header{
    width: 1%;
}

#confirmDialog #confirmDialog_dialog-header, 
#confirmDialog .e-dialog .e-icon-dlg-close::before {
    content: '\e7fc';
    position: relative;
    color: white;
    font-size: 15px;
}

#confirmDialog .e-btn.e-flat.e-primary {
    text-transform: uppercase;
    font-size: 13px;
    font-family: MTTMilano-Bold,Lato,Arial,sans-serif;
    letter-spacing: .7px;
    color: #001978 !important;
    padding: 10px;
    background-color: #fff;
    border-radius: 0 !important;
    border: 2px solid #fff !important;
    min-width: 80px;
}
            
#confirmDialog .e-btn.e-flat.e-primary:hover {
    background-color: #e5e8f1 !important;
    background: #e5e8f1 !important;
    color: #001978 !important;
}
            
#confirmDialog .e-btn.e-flat.e-primary:active {
    background-color: #e5e8f1 !important;
    background: #e5e8f1 !important;
    color: #001978 !important;
}

.e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
    margin-right: 0;
    margin-left: auto;
    color: #fff !important
}
            
.e-dialog .e-btn .e-btn-icon.e-icon-dlg-close {
    color: white !important;
}

.e-btn-icon .e-icon-dlg-close .e-icons {
    color: #fff !important;
}

.e-dialog .e-dlg-header-content 
.e-btn.e-dlg-closeicon-btn {
    margin-right: 0;
    margin-left: auto;
    color: #fff !important;
    height: 15px;
    background-color: transparent;
}

.e-dialog 
.e-btn.e-dlg-closeicon-btn:hover, 
.e-dialog .e-btn.e-dlg-closeicon-btn:focus, 
.e-dialog .e-btn.e-dlg-closeicon-btn:active {
    background-color: transparent !important;
}

.btn-modal-close {
    text-transform: uppercase;
    font-size: 13px;
    font-family: MTTMilano-Bold,Lato,Arial,sans-serif;
    letter-spacing: .7px;
    color: #fff !important;
    padding: 10px;
    background-color: #001978 !important;
    min-width: 80px;
    border-radius: 0 !important;
    border: 2px solid #fff !important;
}
               
.btn-modal-close:hover {
    background-color: #e5e8f1 !important;
    background: #e5e8f1 !important;
    color: #001978 !important;
}

.btn-modal-close:active {
    background-color: #e5e8f1 !important;
    background: #e5e8f1 !important;
    color: #001978 !important;
}
.e-control .e-btn .e-lib .e-flmenu-okbtn .e-primary .e-flat{
    color: #001970 !important;
}

/* Component Sibar */
#noSignaturesDialog #noSignaturesDialog_dialog-header, 
#noSignaturesDialog #noSignaturesDialog_title, 
#noSignaturesDialog #noSignaturesDialog_dialog-content, 
#noSignaturesDialog .e-footer-content  {
    background: #c5343f !important;
    color: #fff !important;
    display:flex !important;
}

 #noSignaturesDialog .e-btn.e-flat.e-primary {
    color: #fff !important;
}

#sendingTypeDialog {
  top: 17% !important;
}

#sendingTypeDialog .e-dlg-header {
  width: 60% !important;
}

#sendingTypeDialog #sendingTypeDialog_dialog-header, 
#sendingTypeDialog #sendingTypeDialog_title {
  background: #001978;
  color: #fff;
  font-size: 14px;
  padding-left: 22px;
}

#sendingTypeDialog #sendingTypeDialog_dialog-header {
  padding: 24px !important;
}

#sendingTypeDialog #sendingTypeDialog_dialog-content {
  padding-top: 15px;
  padding-bottom: 30px;
}

#sendingTypeDialog #sendingTypeDialog_dialog-header > button > span {
  color: white;
  font-size: 12px;
}

/* Component message-list  */
#message-list .e-headercell {
    background-color: #001978 !important;
    color: white;  
}

#message-list div.e-gridheader.e-lib.e-droppable > div > table > 
thead > tr > th.e-headercell.e-defaultcursor {
    position: static;
    border-right: 1px solid;
}

#message-list .bola-firmantes.en-progreso .e-dropdown-btn.e-dropdown-btn.e-btn {
    border-radius: 20px;
    color: #FFF;
    padding: 3px 15px;
    cursor: pointer;
    background: #e9a128;
}

#message-list .bola-firmantes.completada .e-dropdown-btn.e-dropdown-btn.e-btn {
    border-radius: 20px;
    color: #FFF;
    padding: 3px 15px;
    cursor: pointer;
    background: #217e05;
}

#message-list .bola-firmantes.cancelada .e-dropdown-btn.e-dropdown-btn.e-btn {
    border-radius: 20px;
    color: #FFF;
    padding: 3px 15px;
    cursor: pointer;
    background: #c90223;
}

#message-list .bola-firmantes.gray .e-dropdown-btn.e-dropdown-btn.e-btn{
    border-radius: 100px;
    color: #434246;
    padding: 4px 9px;
    cursor: pointer;
    background: #CFCED3;
}

#message-list .e-dialog .e-footer-content {
    background: white !important;
    justify-content: flex-end;
}

 #message-list .e-grid .e-gridheader .e-icons:not(.e-icon-hide):not(.e-check):not(.e-stop) {
    color: #fff;
}

#message-list .e-dropdownbase .e-list-item.e-active.e-hover {
    color: #001970 !important;
}

.e-dropdownbase .e-list-item.e-active, .e-dropdownbase 
.e-list-item.e-active.e-hover {
    background-color: #eee !important;
    border-color: #fff !important;
    color: #001970 !important;
}

#message-list .e-checkboxfilter.e-popup.e-dialog {
    top: 15% !important;
}

#message-list .e-checkboxfilter .e-footer-content {
    background: #fff;
}

#message-list .e-dropdownbase .e-list-item.e-active.e-hover {
    color: #001970 !important;
}


#message-list .e-toolbar .e-toolbar-items .e-toolbar-item 
.e-tbar-btn.e-btn.e-tbtn-txt .e-icons.e-btn-icon {
    padding: 0;
    color: #001970;
}

#message-list .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn-text {
    color: #001970;
}

#message-list .e-toolbar .e-input-group .e-search .e-input{
    height: 0rem;
    border-bottom: 0px solid #9e9e9e;
}

#message-list .e-toolbar .e-toolbar-items .e-toolbar-item 
.e-tbar-btn.e-btn.e-tbtn-txt 
.e-icons.e-btn-icon {
    color: #fbfbfb;
}

.e-dropdown-popup ul .e-item {
    font-weight: bold; 
    color: #001970;
}

#message-list .e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, 
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::after, 
.e-input-group.e-float-icon-left:not(.e-float-input) 
.e-input-in-wrap::before, 
.e-input-group.e-float-icon-left:not(.e-float-input) 
.e-input-in-wrap::after, 
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before, 
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after, 
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) 
.e-input-in-wrap::before, 
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) 
.e-input-in-wrap::after {
    background: #001970 !important;
}

#message-list .e-grid input:not([type]), 
input[type=search]:not(.browser-default___2ZECf){
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    outline: none !important;
    height: 0rem !important;
    width: 100% !important;
    font-size: 16px;
    margin: 0 0 8px 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    box-sizing: content-box !important;
    transition: box-shadow .3s, border .3s !important;
    padding-top: 3px !important; 
}

#message-list .e-input-group:not(.e-success):not(.e-warning):not(.e-error) input.e-input:focus {
    border-bottom: none;
    box-shadow: none;
}

#message-list .e-toolbar .e-toolbar-items {
    border-radius: 0 0 0 0;
    display: inline-block;
    height: 100%;
    min-height: 53px;
    vertical-align: middle;
}

#message-list .e-btn-icon .e-icon-dlg-close .e-icons{
    color: #fff;
}

#message-list .e-dialog 
.e-dlg-header-content 
.e-btn.e-dlg-closeicon-btn {
    margin-right: 0;
    margin-left: auto;
    color: #fff;
    height: 15px;
    background-color: transparent;
}

#message-list .e-toolbar-right {
    right: 13% !important;
    display: table-column !important;
}

#message-list .e-toolbar .e-toolbar-items.e-tbar-pos .e-toolbar-left {
    left: auto;
    line-height: 47px !important;
}

#message-list .e-toolbar-left {
    right: 0 !important;
    background-color: #DDE0DF;
    height: 95% !important;
    top: 2px !important;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}

#message-list .e-tbar-btn-text {
    display: none !important;
}

#message-list .e-toolbar .e-toolbar-items .e-toolbar-left 
.e-toolbar-item:first-child {
    margin-left: 15px;
}

#message-list .e-toolbar .e-toolbar-items .e-toolbar-left 
.e-toolbar-item:nth-child(3) {
    margin-right: 15px;
}

#message-list .e-toolbar .e-tbar-btn {
    background: #001978;
    border-radius: 15px;
}
                   
#message-list .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn {
    height: calc(100% - 15px);
    padding: 0 3.5px;
}

#message-list .e-grid {
    border: 1px solid #001970;
    border-top: 6px solid #001970;
}

#message-list .e-grid .e-toolbar-items .e-toolbar-item.e-search-wrapper 
.e-search .e-search-icon {
    min-width: 29px !important;
    border-left: 1px solid #001978 !important;
    font-size: 16px !important;
}

#message-list .e-search {
    border: 1px solid #001970 !important;
    height: 32px;
    padding: 1px;
    padding-left: 4px;
}

#message-list .e-grid .e-content {
    overflow-y: hidden !important;
}

#message-list .e-toolbar .e-tbar-btn:hover {
    border-radius: 14px;
    background: rgba(0, 0, 0, 0.12);
    border-color: rgba(0, 0, 0, 0.12);
}

#message-list .e-toolbar .e-tbar-btn:focus {
    border-radius: 14px;
}

#message-list .e-toolbar .e-tbar-btn:active {
    border-radius: 14px;
}

.e-grid.e-default tr td:first-child {
    background-color: #6C77AF;
}

#message-list .e-btn.e-icon-btn {
    background-color: transparent !important;
    width: 100%;
    margin: auto;
    height: 47px;
    position: relative;
}

#message-list .e-grid .e-rowcell:first-child, .e-grid .e-summarycell:first-child {
    padding: 1px;
}

#message-list .e-dropdown-btn .e-btn-icon, .e-dropdown-btn.e-btn .e-btn-icon {
    color: white;
}

#message-list .e-btn:active .e-btn-icon {
    color: #001978 !important;
}

#message-list .e-btn:focus .e-btn-icon {
    color: #001978 !important;
}

#message-list .e-btn:hover .e-btn-icon {
    color: #001978 !important;
}

#message-list .e-grid .e-gridheader tr th:first-child {
    padding: 0;
}
                    
#message-list .e-grid.e-gridhover tr[role='row']:not(.e-editedrow):hover 
.e-rowcell:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell) 
.e-btn-icon {
    color: #001978 !important;
}

#message-list .e-pager .e-currentitem, .e-pager .e-currentitem:hover {
    background: transparent;
    color: #001970;
    opacity: 1;
    border-bottom: 3px solid #001970;
    border-radius: 1px;
}

#message-list .e-pager .e-numericitem {
    line-height: 0.5;
    min-width: 16px;
    font-size: 14px;
}

#message-list .e-pager div.e-icons {
    color: #001970;
}

#message-list .e-input-group.e-control-wrapper.e-alldrop.e-ddl.e-lib.e-keyboard.e-valid-input {
    color: #001970 !important;
    border-color: azure !important;
    width: 70% !important;
}

#message-list .e-input-group .e-input-group-icon:last-child {
    color: #001970;
}

#message-list .e-pager .e-pagerconstant {
    color: #001970; 
    margin: 0 0 8px 10px;
}

#message-list .e-pager div.e-parentmsgbar {
    color: #001970;
}

#message-list .e-grid .e-icon-filter::before {
    font-family: 'lf-font' !important;
    content: '\e95e';
    color: #fff;
    font-size: 12px;
}

#message-list .e-grid .e-filtered::before {
    content: '\eaa3';
}

#message-list .e-pager .e-pagerdropdown {
    margin-top: 0 !important; 
    vertical-align: sub !important;
    height: 35px !important;
}

#message-list input.e-input::selection, textarea.e-input::selection, 
.e-input-group input.e-input::selection, 
.e-input-group.e-control-wrapper input.e-input::selection, 
.e-float-input input::selection, 
.e-float-input.e-control-wrapper input::selection, 
.e-input-group textarea.e-input::selection, 
.e-input-group.e-control-wrapper textarea.e-input::selection, 
.e-float-input textarea::selection, 
.e-float-input.e-control-wrapper textarea::selection{
    background: #F6CCD1;
    color: black;
}

#message-list .e-dropdown-btn:focus, .e-dropdown-btn.e-btn:focus{
    padding: 4px;
}

#message-list .e-grid .e-print::before {
    content: '\e9b9';
    font-family: 'lf-font' !important;
}

#message-list .e-grid .e-pdfexport::before {
    content: '\e94f';
    font-family: 'lf-font' !important;
}
                    
#message-list .e-grid .e-excelexport::before {
    content: '\e955';
    font-family: 'lf-font' !important;
}

#message-list .e-date-wrapper span.e-input-group-icon.e-date-icon.e-icons.e-active{
    color: #001970 !important;
}

#message-list .e-calendar .e-content td.e-focused-date.e-today span.e-day, 
.e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day
{
    background: #eee !important;
    border: 1px solid #001970 !important;
    color: #001970 !important;
}

#message-list .e-calendar .e-content td.e-today.e-selected span.e-day, 
.e-bigger.e-small .e-calendar .e-content td.e-today.e-selected span.e-day 
{
    background-color: #001970 !important;
    border: 1px solid #001970 !important;
    box-shadow: inset 0 0 0 2px #fff !important;
    color: #fff !important;
}

#message-list .e-calendar .e-content td.e-selected span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-selected span.e-day
{
    background-color: #001970 !important;
    border: 1px solid #001970 !important;
    box-shadow: inset 0 0 0 2px #fff !important;
    color: #fff !important;
}

#message-list .e-calendar .e-content td.e-today span.e-day, 
.e-calendar .e-content td.e-focused-date.e-today span.e-day, 
.e-bigger.e-small .e-calendar .e-content td.e-today span.e-day, 
.e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
    background: none !important;
    border: 1px solid #001970 !important;
    border-radius: 50% !important;
    color: #001970 !important;
}

#message-list .e-calendar .e-content td.e-today.e-selected:hover span.e-day, 
.e-calendar .e-content td.e-selected:hover span.e-day, 
.e-calendar .e-content td.e-selected.e-focused-date span.e-day, 
.e-bigger.e-small .e-calendar .e-content td.e-today.e-selected:hover span.e-day, 
.e-bigger.e-small .e-calendar .e-content td.e-selected:hover span.e-day, 
.e-bigger.e-small .e-calendar .e-content td.e-selected.e-focused-date span.e-day {
    background-color: #001970 !important;
    color: #fff !important;
}

#message-list .e-calendar .e-content td.e-today:hover span.e-day, 
.e-calendar .e-content td.e-focused-date.e-today:hover span.e-day, 
.e-calendar .e-content td.e-focused-date.e-today:focus span.e-day, 
.e-bigger.e-small .e-calendar .e-content td.e-today:hover span.e-day, 
.e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today:hover span.e-day, 
.e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today:focus span.e-day {
    background-color: #eee !important;
    border: 1px solid #001970 !important;
    color: #001970 !important;
}

#message-list .e-btn .e-btn-icon, 
.e-css.e-btn .e-btn-icon {
    margin-top: 2px;
    width: 100%;
    height: 18px;
}

#message-list [type="checkbox"]:indeterminate+span:not(.lever___3ADj_):before {
    transform: rotate(1deg);
    top: 2px;
    left: 2px;
    border: none;
    margin-top: 2px;
}

#message-list [type="checkbox"]:checked+span:not(.lever___3ADj_):before {
    transform: rotate(6deg);
    top: 2px;
    left: -1px;
    border: none;
    margin-top: 2px;
}

.e-dropdown-popup ul .e-item .e-menu-icon {
    font-weight: bold;
    color: #001970 !important;
}

#message-list [type="checkbox"] + span:not(.lever):before {
    top: 2px;
    left: -1px;
    border: none;
    margin-top: 2px;
}

#message-list #infoDialog, #confirmDialog, #infoDialog2 {
    max-height: 927px;
    width: 300px;
    left: 770px;
    z-index: 1001;
}

#confirmDialog #confirmDialog_dialog-header, 
#confirmDialog_title, 
#confirmDialog_dialog-content, 
#confirmDialog .e-footer-content{
    background: #001970 !important;
    color: #fff !important;
    display:flex !important;
    width: auto !important;
}

#infoDialog_dialog-header, #infoDialog_title, 
 #infoDialog_dialog-content, #confirmDialog .e-footer-content {
     background: #001970 !important;
     color: #fff !important;
     display:flex !important;
 }
                    
#infoDialog2_dialog-header, #infoDialog2_title, 
#infoDialog2_dialog-content, #confirmDialog .e-footer-content {
    background: #001970 !important;
    color: #fff !important;
    display:flex !important;
}
                    
#confirmDialog #confirmDialog_dialog-header, #confirmDialog_title, 
#confirmDialog_dialog-content, #confirmDialog .e-footer-content {
    background: #001970 !important;
    color: #fff !important;
    display:flex !important;
}

#confirmDialog .e-footer-content {
    justify-content: flex-end;
}
   
#confirmDialog #confirmDialog_dialog-header, 
#confirmDialog .e-dialog .e-icon-dlg-close::before {
    content: '\e7fc';
    position: relative;
    color: white;
    font-size: 15px;
}

#message-list #confirmDialog .e-btn.e-flat.e-primary {
    text-transform: uppercase;
    font-size: 13px;
    font-family: MTTMilano-Bold,Lato,Arial,sans-serif;
    letter-spacing: .7px;
    color: #001978 !important;
    padding: 10px;
    background-color: #fff;
    border-radius: 0 !important;
    border: 2px solid #fff !important;
    min-width: 80px;
}
                    
#message-list #confirmDialog .e-btn.e-flat.e-primary:hover {
    background-color: #e5e8f1 !important;
    background: #e5e8f1 !important;
    color: #001978 !important;
}
                    
#message-list #confirmDialog .e-btn.e-flat.e-primary:active {
    background-color: #e5e8f1 !important;
    background: #e5e8f1 !important;
    color: #001978 !important;
}
/* component menu-list */
 #noServiceDialog #noServiceDialog_dialog-header, 
 #noServiceDialog_title, 
 #noServiceDialog_dialog-content, 
 #noServiceDialog .e-footer-content {
  background: #c5343f;
  color: #fff;
  display:flex;
}

/* component contacts  */

#main-contact .e-input-group.e-control-wrapper.e-ddl.e-lib.e-keyboard.e-valid-input {
    background: #ebedf4;
    border: none;
    height: 39px;
    padding: 5px 20px 0px 16px !important;
    font-weight: 700;
    font-family: 'MTTMilano';
    width: 76% !important;
}

#contactDialog_dialog-content {
    padding: 0px !important;
    overflow: hidden;
} 

/* .e-ddl.e-input-group.e-control-wrapper .e-ddl-icon::before {
    content: '\e90b';
    font-family: 'lf-font' !important;
    font-size: 15px;
} */

/*component message viewer*/
#infoDialog-viewer {
    max-height: 927px;
    width: 300px;
    left: 770px;
    z-index: 1001;
}

#infoDialog-viewer 
#infoDialog-viewer_dialog-header, 
#infoDialog-viewer_title, 
#infoDialog-viewer_dialog-content, 
#infoDialog-viewer .e-footer-content{
    background: #001970;
    color: #fff;
    display:flex;
}

#infoDialog-viewer, 
.e-dialog .e-dlg-content {
    font-size: 17.5px !important;
}

.e-btn .e-btn-icon.e-icon-right, .e-css.e-btn .e-btn-icon.e-icon-right {
    display: none;
}

/* component message editor */
#info2Dialog {
    max-height: 927px;
    width: 60%;
    left: 20% !important;
    z-index: 1001;
}

#info2Dialog_dialog-header, 
#info2Dialog_title, 
#info2Dialog_dialog-content, 
#info2Dialog.e-footer-content, 
.e-footer-content {
    background: #001970;
    color: #fff;
    display:flex;
}

#rolDialog {
    top: 20% !important;
}

#rolDialog_title {
    width: 40% !important;
    color: #001970;
    font-weight: bold;
    font-size: 15px;
}

#rolDialog_dialog-header > button {
    margin-right: 10px;
}

#rolDialog_dialog-header > button > span {
    color: #001978 !important;
}

.message-editor___1BSzC 
.header___2SVSM 
.address___2e6fn 
.chip___3gDJb {
    border-color: #001970 !important;
}

.message-editor___1BSzC 
.header___2SVSM 
.address___2e6fn 
.chip___3gDJb i {
    color: #001970;
}

.e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn{
    margin-right: 0;
    margin-left: auto;
    color: #fff
}

.e-btn.e-flat.e-primary {
    color: #fff !important;
}

.e-btn-icon .e-icon-dlg-close .e-icons{
    color: #fff;
 }
.e-dialog .e-dlg-header-content 
.e-btn.e-dlg-closeicon-btn {
    margin-right: 0;
    margin-left: auto;
    color: #fff;
    height: 15px;
    background-color: transparent;
}

.e-dialog .e-icon-dlg-close::before {
    content: '\e7fc';
    position: relative;
    font-size: 15px;
}
            
#toolsRTE_2, .e-control .e-focused .e-lib .e-richtexteditor {
    height: calc(100% - 20px) !important;
}   

#toolsRTE_2rte-view {
    overflow: hidden;
}   

#rolDialog_dialog-content {
    padding: 0px !important;
    overflow: hidden;
} 

#rolDialog_dialog-content > div > div > table > tr > td:nth-child(4) > div > span {
    width: 100% !important;
    background: #ebedf4;
    border: none;
    height: 2.5rem;
    padding: 5px;
}

#main-rol-selector .e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, 
#main-rol-selector .e-input-group:not(.e-float-icon-left):not(.e-float-input)::after, 
#main-rol-selector .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before, 
#main-rol-selector .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after
{
     background: #001970;
}

#main-rol-selector .e-input-group.e-control-wrapper.e-ddl.e-lib.e-keyboard.e-valid-input {
    background: #ebedf4;
    border: none;
    height: 2.5rem;
    padding: 5px;
    font-weight: 700;
}

#main-rol-selector .e-control.e-dropdownlist.e-lib.e-input,
#main-contact .e-control.e-dropdownlist.e-lib.e-input {
    color: #001978 !important;
}

#main-rol-selector .e-ddl.e-input-group.e-control-wrapper .e-ddl-icon::before {
    color: #001978;
}

#main-contact .e-ddl.e-input-group.e-control-wrapper .e-ddl-icon::before {
    color: #001978;
}

#main-rol-selector .e-dropdownbase .e-list-item.e-active, 
#main-rol-selector .e-dropdownbase .e-list-item.e-active.e-hover,
#main-contact .e-dropdownbase .e-list-item.e-active,  
#main-contact .e-dropdownbase .e-list-item.e-active.e-hover {
    background-color: #eee;
    border-color: #fff;
    color: #001970;
}

#main-rol-selector .e-ddl.e-input-group.e-control-wrapper .e-ddl-icon::before, 
#main-contact .e-ddl.e-input-group.e-control-wrapper .e-ddl-icon::before {
    content: '\e90b';
    font-family: 'lf-font' !important;
}

#contactDialog {
    top: 17% !important;
}