@import '../../styles/partials/variables';

$row-height: 43px;
$font-size: $font-size-body-2;
$flag-size: 18px;

// .e-headercell {
//   .customcss{
//     background-color: #001978;
//     color: white;
//     border-right: 1px solid #FFF;
//     font-weight: 500;
//   }
// }

.e-grid .e-rowcell{
  background-color: #ecedee;
  font-family: 'Bell MT';
  color: 'red';
  font-size: '20px';
}

.e-grid .e-headercell{
  background-color: #2382c3;
  color: white;
  font-family: 'Bell MT';
  font-size: '20px';
}

.resumen-firma {
  border: 0;
  border: 1px solid #001978;
  margin-bottom: 20px;
  width: 100%;
  th {
    background: #001978;
    color: #FFF;
    border-right: 1px solid #FFF;
    font-weight: 500;
    &:last-child {
      border: 0
    }
  }
  .en-progreso {
    color: #e9a128;
  }
  .completada {
    color: #217e05;
  }
  .cancelada {
    color: #c90223;
  }
  .documento {
    text-decoration: underline;
  }
  .tooltip-firmantes {
    border: 1px solid #001978;
    width: auto;
    position: absolute;
    background: #FFF;

    li {
      color: #001978;
      font-weight: 600;
      border-bottom: 1px solid #cbd2e6;
      padding: 5px 10px;
      .email {
        display: block;
        color: #777777;
        font-weight: 400;
        font-size: 12px;
      }
      &:last-child {
        border-bottom: 0;
      }

    }
  }
  .bola-firmantes {
    border-radius: 20px;
    color: #FFF;
    padding: 3px 15px;
    cursor: pointer;
    &.en-progreso {
      background: #e9a128;
    }
    &.completada {
      background: #217e05;
    }
    &.cancelada {
      background: #c90223;
    }
  }

}

.messageList {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .clearFolderListItem {
    display: flex;

    .emptyFolder {
      margin: 0 auto;
      font-size: $font-size-body-2;
    }
  }

  .list {
    flex: 1;
    padding: 0;
    height: 100%;

    .virtualList {
      outline: none;

      .item {
        display: flex;
        font-weight: $font-weight-bold;
        font-size: $font-size;
        padding: 0px;
        height: $row-height;
        border: 1px solid lighten($mdc-theme-background, 10%);
        cursor: pointer;

        &.seen {
          font-weight: $font-weight-normal;
        }

        &.deleted {
          color: lighten($base-color, 45%);
          font-style: italic;
        }

        .itemDetails {
          flex-grow: 1;
          min-width: 0;
          width: 1px;

          display: flex;
          flex-flow: row nowrap;

          .from {
            width: 250px;
            min-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .flag {
            display: block;
            width: 20px;
            min-width: 20px;
            overflow: hidden;
            visibility: hidden;
            font-size: $flag-size;
            line-height: 20px;

            &.flagged {
              visibility: visible;
              color: $mdc-theme-secondary;
            }
          }
          .subject {
            flex-grow: 1;
            margin-left: $default-spacing / 2;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .receivedDate {
            width: 90px;
            min-width: 90px;
            text-align: right;
          }
          .size {
            margin-right: $default-spacing / 2;
            width: 130px;
            min-width: 130px;
            text-align: right;
          }
          .subject2{
            margin-right: $default-spacing / 2;
            width: 130px;
            min-width: 130px;
            text-align: right;
          }
        }

        .itemDetails:hover {
          .flag {
            visibility: visible;
          }
        }

      }
    }
  }

  .listSpinner {
    position: absolute;
    bottom: 0px;
    z-index: 2;
    height: 25px;
    width: 100%;
    overflow: hidden;
    pointer-events: none;

    .listSpinnerCanvas {
      width: 16px;
    }
  }
}
