.errormessage{
    color: red;
}

.submitRow {
    margin: 15px 0 10px 15px;
}
.buttonadd {
    padding-top: 22px !important;
}

#container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    height: 40px;
    width: 30%;
    position: absolute;
    top: 45%;
    left: 45%;
}

#sample-list {
    margin: 25px auto;
    background-color:antiquewhite;
    /*max-width: 500px;*/
}

#btn {
    margin: 40px auto;
    display: block;
}



.listicons {   
    float: right;
    cursor: pointer;
    padding-top:10px;
    padding-left:15px;    
}


/* Circle palette customization */
.e-container .e-palette .e-circle-palette {
    border: 0;
    height: 32px;
    width: 32px;
    border-radius: 20px;
    margin: 4px;
}

.e-bigger .e-container .e-palette .e-circle-palette {
    height: 32px;
    width: 32px;
}

.e-container .e-palette .e-circle-palette:hover {
    box-shadow: none;
    transform: scale(1.2);
    transition: transform .2s ease-out;
}

.e-circle-palette .e-circle-selection {
    height: 32px;
    width: 32px;
    border-radius: 20px;
    display: inline-block;
    transform: scale(0);
    transition: transform 1.2s ease-in;
}

.e-circle-palette.e-selected .e-circle-selection {
    transform: scale(0.8);
    background-color: #fff;
    transition: transform .2s ease-out;
}

#circle-palette + .e-container,
#scroll-palette + .e-container {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

/* Rounded corner palette customization */
.e-container .e-palette .e-rounded-palette {
    border-radius: 4px;
    margin: 3px;
    height: 16px;
    width: 16px;
}

.e-bigger .e-container .e-palette .e-rounded-palette {
    height: 16px;
    width: 16px;
}

.e-container .e-palette .e-rounded-palette:hover,
.e-container .e-palette .e-scroll-palette:hover {
    box-shadow: none;
}

.e-container .e-palette .e-circle-palette.e-selected,
.e-container .e-palette .e-rounded-palette.e-selected,
.e-container .e-palette .e-square-palette.e-selected,
.e-container .e-palette .e-scroll-palette.e-selected {
    outline: none;
}


