h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

.clock {
    text-align: center;
    background-color: #001978;
    color: #FFF;
    padding: 20px;
    font-family: Arial;
    /*border: 5px solid #ff00d4;
    border: 5px solid #0f0;*/
}

.clock--paused .clock__time {
    color: #676767;
}
