.modal-header {
  background: #001978;
  border-bottom: none;
}

.close {
  color: white;
}

.modal-body {
  background: #001978;
  border-bottom: none;
  color: white;
}

.modal-footer {
  background: #001978;
  border-top: none;
}

.modal-footer .btn-primary {
  background: #001978;
  color: white;
  border-color: white;
  border-radius: 0%;
  height: 42px;
  width: 80px;
  border-width: 2px;
}

.modal-footer .btn-secondary {
  background: white;
  color: #001978;
  border-color: white;
  border-radius: 0%;
  height: 42px;
  width: 80px;
  border-width: 2px;
}

.img-question {
  border: "0";
  width: 101px;
  height: 101px;
}
