.header {
  border-bottom: 1px solid #d9dfe2;
  background-color: #001978;
  height: 65px;
  justify-content: space-between;
  color: #fff;
}

.header-user {
  justify-content: right;
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.header-user a {
  height: 50px;
  display: flex;
  align-items: center;
}

.header-user .lf-icon-user {
  font-size: 24px;
  margin-right: 10px;
}

.header-left {
  flex: 0 0 100px;
  margin-left: 100px;
}

.lf-icon-shop {
  color: #fff;
  font-size: 22px;
  display: flex;
  align-items: center;
}

.shop-text {
  font-family: MTTMilano, Lato, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 5px;
  color: #fff;
}

a:hover {
  text-decoration: none !important;
}
