.action-btn {
  cursor: pointer;
  display: inline-block;
}
.align-center {
    margin-top: 8px;
}

.margin-right-10 {
    margin-right: 10px;
    margin-left: 5px;
}

.with-side-bar {
    display: none;
}

.padding-top-10 {
    padding-top: 23px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}