.row {   
    margin-right: 0px;
    margin-left: 0px;
}

.Closepanel {
    text-align: right;
    padding-right: 2px;
    background-color: #d9dfe2;
}

.CloseButton{
    cursor:pointer;   
    padding-left:5px;    
}

.Center{
    text-align:center;
}

.Chatbotpanel {
    height: 450px;
    width: 350px
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    /*opacity: 0.8;*/
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 5px;
    border: 1px solid #d9dfe2;
    z-index: 9;
}
.css-bo8nme, [data-css-bo8nme] {   
    padding: 0px !important;   
}


.float {
    position: fixed;
    width: 52px;
    height: 52px;
    bottom: 3px;
    right: 3px;
    background-color: #007fff;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}
.chatimg {
    padding-bottom: 4px;
}
