.header-user-image {
    font-size: 12px;
    font-family: MTTMilano-Bold;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

    .header-user-image:hover {
        outline: none;
        text-decoration: none;
    }

.lf-icon-user {
    font-size: 20px;
}

.version {
    position: absolute;
    right: 10px;
    bottom: -5px;
    color: #949191 !important;
    font-family: MTTMilano, Lato, Arial, sans-serif;
    font-size: 0.9em !important;
}
