.panelClosed {
    width: 0px;
}
.panelSidebar {
    width: 260px;
    height: 100%;
}
.panelOpened {
    width: auto;
}
.CloseButton{
    cursor:pointer;   
    padding-left:5px;
}
.connector{
    text-align:center;
    height:100%;   
}

.productpanel {
    background-color: #f4f4f4;
    /*border-left: 1px solid rgba(0, 0, 0, 0.12);*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    width: 62px;
    text-align: center;   
    padding-right: 5px;
    padding-top: 15px;    
}

.spaceproduct {
    border-top: 1px solid #dadce0;
    content: '';
    display: block;
    -webkit-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0 auto;
    padding-bottom: 16px;
    width: 20px;
}

.productsbutton {
    padding-bottom: 20px;
}

.imgproduct {
    width: 24px;
    height: 24px;
    cursor: pointer;    
}

.imgproductdisable {
    width: 24px;
    height: 24px;    
    opacity: 0.3;
}

spaceproduct {
    border-top: 1px solid #dadce0;
    content: '';
    display: block;
    -webkit-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0 auto;
    padding-bottom: 16px;
    width: 20px;
}