@import '../../styles/partials/variables';
@import '@material/top-app-bar/mixins';

.divheader {
    background-color: #f4f4f4;
    /*background-color: #fff;*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    /*height: 40px;*/
    /*top:65px;*/
}
.topBar {
    flex-wrap: wrap;
    font-family: Roboto;
    font-size: 16px;
    /*height: 72px;*/
    /*box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);*/
    position: relative;
    z-index: 2;
    justify-content: space-between;
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    margin-left: 0px;
    width: calc(100% - #{$drawerWidthgooglepanel});
    transition: margin $drawerAnimationSpeed, width $drawerAnimationSpeed;



    &.with-custom-styles {
        @include mdc-top-app-bar-fill-color($mdc-theme-secondary);
    }

    @media screen and (min-width: 801px) {
        &.with-side-bar {
            margin-left: $drawerWidth;
            width: calc(100% - #{$drawerWidthtopbar});
        }
    }

    @media (max-width: 1187px) and (min-width: 801px) {
        &.with-side-bar {
            margin-left: $drawerWidth;
            width: calc(100% - #{$drawerWidthtopbar-mdh});
        }
    }

    @media (max-width: 800px) and (min-width: 500px) {
        &.with-side-bar {
            margin-left: $drawerWidth;
            width: calc(100% - #{$drawerWidthtopbar-md});
        }
    }
    /*@media (min-width: 300px) and (max-width: 500px) {
        &.with-side-bar {
            margin-left: $drawerWidth;
            width: calc(100% - #{$drawerWidthtopbar-xs});
        }
    }*/
}   

