body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Roboto, sans-serif !important;
    font-size: 12.8px !important;
    line-height: 30px !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

a {
    color: #001978 !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #001978 !important;
    border-color: #001978 !important;
}

.btn-primary:hover {
    background-color: #001978 !important;
    border-color: #001978 !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
