@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/fonts';
@import 'partials/base';
@import 'partials/mdc-checkbox-extended';
@import 'partials/mdc-snackbar-extended';
@import 'partials/mdc-switch-extended';
@import 'partials/mdc-textfield-extended';
@import 'partials/spinner';
@import 'partials/tinymce';
@import 'partials/tooltip';

// Third-party
@import '@material/button/mdc-button';
@import '@material/card/mdc-card';
@import '@material/checkbox/mdc-checkbox';
@import '@material/chips/mdc-chips';
@import '@material/dialog/mdc-dialog';
@import '@material/drawer/mdc-drawer';
@import '@material/fab/mdc-fab';
@import '@material/icon-button/mdc-icon-button';
@import '@material/line-ripple/mdc-line-ripple';
@import '@material/list/mdc-list';
@import '@material/menu/mdc-menu';
@import '@material/menu-surface/mdc-menu-surface';
@import '@material/top-app-bar/mdc-top-app-bar';
@import "../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-react-buttons/styles/material.css";

:not(.mdc-list--non-interactive)
  > :not(.mdc-list-item--disabled).mdc-list-item {
  will-change: auto !important;
}

.mdc-switch.mdc-switch--checked .mdc-switch__thumb {
  background-color: #767676 !important;
  background-color: var(--mdc-theme-secondary, #767676) !important;
  border-color: #767676 !important;
  border-color: #001978 !important;
}

.login--background___1ujQy
  .login--container___2Q4ry
  .card___1DExF
  .section___3WNyJ {
  margin: 16px 0;
  font-size: 1.2rem;
  color: #001978 !important;
}

.disabledimg {
  opacity: 0.3;
}

.e-richtexteditor.e-rte-tb-expand,
.e-richtexteditor.e-rte-tb-expand .e-rte-content {
  border: none;
  position: static !important;
}

.e-popup.e-dialog {
  top: 10px !important;
  min-width: 380px;
}

.e-rte-toolbar.e-control[class*='e-toolbar'],
.e-richtexteditor
  .e-rte-toolbar.e-toolbar.e-extended-toolbar.e-control[class*='e-toolbar'] {
  z-index: 1;
}

.e-btn.e-flat.e-primary {
  color: #001978 !important;
}

.e-btn.e-flat.e-primary:hover {
  background-color: rgba(0, 25, 120, 0.2) !important;
}

.e-btn.e-flat.e-primary:active {
  background-color: rgba(0, 25, 120, 0.5) !important;
}

.e-checkbox-wrapper .e-frame.e-check {
  background-color: #001978 !important;
}

.e-control input.e-input:focus {
  border-color: #001978 !important;
}

.e-rte-content {
  height: calc(100%) !important;
}

.e-control.e-richtexteditor.e-rte-tb-expand {
  height: calc(100% - 40px) !important;
}

.e-radio:checked + label:hover::before,
.e-radio:checked + label::before {
  border-color: #001978;
}

.e-radio:checked + label:hover::after {
  background-color: #001978;
}

.e-radio:checked + label::after {
  background-color: #001978;
  color: #001978;
}
.e-radio + label .e-label {
  color: #001978;
  position: relative;
  padding-left: 0;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  transition: .28s ease;
  user-select: none;
}

.e-radio-wrapper {
  display: block;
}