body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.step1-container {
  margin: 50px;
}

ol {
  list-style: none;
  counter-reset: li;
}

.list-checks li {
  margin-top: 10px;
}

ol > li::before {
  content: counter(li);
  color: #001978;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  background-color: #e5e8f1;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  text-align: center;
  font-family: 'MTTMilano-Medium';
  font-size: 16px;
  font-weight: bold;
}

ol > li {
  counter-increment: li;
  color: #001978;
  margin-top: 30px;
}

ol > li > span {
  margin-left: 8px;
  height: 20px;
  width: 442px;
  color: #7f8cbb;
  font-family: 'MTTMilano-Medium';
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.two-columns {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  min-height: 180px;
}

.e-headercelldiv {
  outline: none !important;
}
.step2-container {
  margin: 30px;
}

.section-border {
  position: sticky;
  border: 1px solid #d2d2d2;
  height: 497px !important;
}

.section-title {
  color: #001978;
  font-family: 'MTTMilano-Medium' !important;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 10px;
  text-transform: uppercase;
}

.spinner {
  position: absolute;
  top: 90px;
  right: 0;
  width: 100%;
  height: calc(100% - 90px);
  z-index: 100;
  background: rgba(255, 255, 255, 0.8);
}

.pager-icon {
  font-size: 18px;
  font-weight: bold;
  color: #001978;
}

.prevButton,
.nextButton {
  display: flex;
  align-items: center;
  color: #001978;
  font-family: 'MTTMilano-Medium' !important;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.pager {
  display: flex;
  width: 100%;
  justify-content: center;
}

.currentPage {
  color: #001978;
}

.row-check {
  width: 24px;
  height: 24px;
  border: 1px solid #7c868c;
  border-radius: 50%;
}

.row-check-inner {
  margin: auto;
  margin-top: 2px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border-radius: 50%;
}

.row-check-inner.checked {
  background-color: #001978 !important;
}

.row-check.checked {
  border: 1px solid #001978 !important;
}

.e-content {
  overflow-y: hidden !important;
}

.e-primary.list {
  margin-top: -25px !important;
  padding: 0 !important;
}

.e-emptyrow {
  text-align: center;
}

.e-rowcell .e-templatecell {
  padding: 0 !important;
}

.e-row {
  height: 50px !important;
  cursor: pointer !important;
}

.e-rowcell {
  color: #7c868c !important;
  font-family: 'MTTMilano-Medium' !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 22px !important;
  cursor: pointer !important;
}

ol > li.index-3::before {
  content: '3';
  color: #001978;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  background-color: #e5e8f1;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  text-align: center;
  font-family: 'MTTMilano-Medium';
  font-size: 16px;
  font-weight: bold;
}
.e-rowcell {
  outline: none;
}
.e-grid,
.e-gridheader,
.e-headercontent {
  border: none !important;
}

.e-headertext {
  color: #001978 !important;
  font-family: 'MTTMilano-Medium' !important;
  font-size: 13px !important;
  font-weight: bold !important;
}

.e-gridheader {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #001978 !important;
}

.prevButton {
  margin-right: 20px;
}

.prevButton.disabled,
.prevButton.disabled > .pager-icon,
.nextButton.disabled,
.nextButton.disabled > .pager-icon {
  cursor: default;
  color: #7c868c !important;
}

.nextButton {
  margin-left: 20px;
}

.step3-container {
  margin: 30px;
}

.e-selectionbackground {
  background-color: #e5e8f1 !important;
}

.e-row:hover {
  background-color: #e5e8f1 !important;
}

.e-list-text {
  text-transform: none !important;
}

.e-treeview .e-list-item.e-active > .e-fullrow {
  background-color: #e5e8f1;
  border-color: #e5e8f1;
}

.e-treeview .e-list-item.e-active > .e-fullrow:hover {
  background-color: #e5e8f1;
  border-color: #e5e8f1;
}

.panel-left-spinner-container {
  width: 100%;
  height: 100%;
}

.panel-left .preloader-holder-blue {
  z-index: 1;
  position: relative;
  top: 250px;
}

.new-folder {
  text-align: right;
  font-size: 14px;
  color: #001978 !important;
  height: 26px;
}

.new-folder-container {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5px;
  padding-bottom: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a.disabled,
a.disabled span,
.new-folder-container.disabled,
a.disabled .new-folder-text {
  color: #d2d2d2 !important;
  cursor: default !important;
}

.new-folder-icon {
  margin-right: 0px;
}

.new-folder-text {
  font-family: 'MTTMilano-Medium' !important;
  text-decoration: underline;
  line-height: 19px !important;
  font-size: 14px !important;
  color: #001978 !important;
}

.add-more:hover .new-folder-text {
  background: none !important;
}

.new-folder-text:hover {
  background: none !important;
}

.panel {
  display: flex;
  height: 450px;
}

.e-treeview {
  width: 250px !important;
}

.e-treeview .e-ul {
  overflow: hidden !important;
}

.e-rowcell.e-templatecell {
  width: auto;
  display: table-cell;
}

.panel-left {
  flex: 1;
}

.panel-right {
  flex: 2;
  border-left: 1px solid #001978;
}
.panel-right-top {
  color: red;
  border-bottom: 1px solid #001978;
  height: 46px;
}

.section-border {
  position: sticky;
  border: 1px solid #d2d2d2;
  height: 497px !important;
}

.section-title {
  color: #7c868c;
  font-family: 'MTTMilano-Medium' !important;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 10px;
  text-transform: none;
  vertical-align: text-top;
}

ol > li.index-4::before {
  content: '4';
  color: #001978;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  background-color: #e5e8f1;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  text-align: center;
  font-family: 'MTTMilano-Medium';
  font-size: 16px;
  font-weight: bold;
}

.e-treeview .e-ul,
.e-treeview .e-text-content {
  padding: 0 0 0 18px;
}

.e-list-text {
  text-transform: uppercase;
  color: #001978;
  margin-left: 5px;
}
.e-treeview .e-list-item > .e-text-content .e-list-text,
.e-treeview .e-list-item.e-active > .e-text-content .e-list-text,
.e-treeview .e-list-item.e-hover > .e-text-content .e-list-text,
.e-treeview .e-list-item.e-active,
.e-treeview .e-list-item.e-hover {
  color: #001978 !important;
}
.e-treeview .e-list-icon,
.e-treeview .e-list-img {
  height: auto;
}
.e-treeview .e-icon-collapsible,
.e-treeview .e-icon-expandable {
  color: #001978;
}

input.e-input::selection {
  background-color: #001978 !important;
}

.step3-container {
  margin: 30px;
}

.subjects-list {
  width: 100%;
  padding-left:40px;
}

.subjects-list  li {
  margin-top: 10px;
}

ol>li.index-5::before {
  content: '${this.props.step}'; 
  color: #001978;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  background-color: #E5E8F1;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  text-align: center;
  font-family: "MTTMilano-Medium";	
  font-size: 16px;	
  font-weight: bold;	
}    

.step4-subtitle {
  color: #333333 !important;
  text-align: center !important;
}

.panel-4 {
  display: flex;
  height: 400px;
}

.input-label {
  margin: 0;
  color: #001978;
  font-family: "MTTMilano-Medium" !important;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
}
            
.panel-4.section-border {
  position: sticky;
  border: 1px solid #D2D2D2;
  height: 400px;
}

.section-title {
  color: #7C868C;
  font-family: "MTTMilano-Medium" !important;
  font-size: 14px;	
  font-weight: 500;
  margin-left: 10px;
  margin-top: 10px;
  text-transform: none;
  vertical-align: text-top;
}                

.e-outline.e-input-group.e-control-wrapper.e-float-icon-left.e-input-focus:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled),
.e-input-group.e-control-wrapper.e-float-icon-left.e-input-focus:not(.e-success):not(.e-warning):not(.e-error) .e-input,
.e-outline.e-input-group:not(.e-input-focus), .e-outline.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left):not(.e-input-focus), 
.e-outline.e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left):not(.e-input-focus),
.e-input-focus {
 border-color: #D2D2D2 !important;
 box-shadow: none !important;
}

.e-outline.e-input-group.e-control-wrapper input.e-input, .e-outline.e-input-group input.e-input {
  box-sizing: border-box;
  min-height: 38px;
  width: 75%;
  padding-left: 11px;
}

.lf-icon-angle-left {
  font-family: 'lf-font' !important;
}

.lf-icon-angle-right {
  font-family: 'lf-font' !important;
}

.lf-icon-angle-left:before {
  content: "\e90c";
}

.lf-icon-angle-right:before {
  content: "\e90d";
}