.company-id {
  position: relative;
  line-height: 21px;
  margin-bottom: 30px;
  font-size: 14px;
  font-family: MTTMilano,Lato,Arial,sans-serif;
  padding-left: 20px;
}

.company-id strong {
  color: #001978;
  font-weight: 500;
}

.company-id a {
  color: #001978;
  font-size: 20px;
  display: block;
  width: 34px;
  height: 34px;
  padding: 7px;
  transition: background-color .3ms;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

a, a:hover {
  outline: none;
  text-decoration: none;
}

strong {
  font-weight: 500;
  font-family: MTTMilano-Medium, Lato, Arial, sans-serif;
}

.add-more-container {
  padding-bottom: 1rem;
  padding-left: 20px;
}

.add-more {
  color: #001978;
  font-size: 16px;
  font-weight: 700;
}

.add-more span {
  color: #001978;
  font-size: 20px;
  width: 34px;
  height: 34px;
  padding: 7px;
  transition: background-color .3ms;
  border-radius: 50%;
}

.add-more strong {
  text-decoration: underline;
  line-height: 19px;
}