/* .lexon-title-list {
  color: #7f8cbb;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  border-bottom: dotted 1px #001978;
  font-family: MTTMilano, Lato, Arial, sans-serif;
}

.lexon-document-list {
  padding: 0;
  width: 320px;
  float: left;
  max-height: 525px;
  overflow: auto;
  margin-bottom: 10px;
  display: block;
  font-family: MTTMilano, Lato, Arial, sans-serif;
} */
