.message-toolbar {
  border-bottom: 1px solid #d9dfe2;
  height: 64px;
  background-color: #f4f4f4;
  .action-btns {
    width: 98%;
    display: flex;

    .action-btn {
      cursor: pointer;
      display: inline-block;
    }

    .icon-priority {
      cursor: default;
      color: #c43741;
      font-size: 22px;
      padding-top: 2px;
    }
  }
}
