.menu-minihub-container {
    position: absolute;
    background-color: white;
    top: 60px;
    right: 7px;
    width: 385px;
    z-index: 110;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #cdd1e0;
    border-radius: 0;
    color: #001978;
}

.menu-minihub {   
    cursor: pointer;
}
