body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 12.8px;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*overflow:hidden;*/
}

a {
    color: #001978 !important;
}

.btn-primary {
    color: #fff;
    background-color: #001978;
    border-color: #001978;
}

.btn-primary:hover {
        background-color: #001978;
        border-color: #001978;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
