@page "/gmail"
@inherits PageUser

@sub

<div class="">
    <h1 class="d-inline">Gmail</h1>
    <button class="btn btn-info float-right d-inline">Refresh</button>
</div>


<table class="table table-hover table-striped"  >
    <thead class="thead-dark">
        <tr>
            <th>De</th>
            <th>Para</th>
            <th>Asunto</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Abner Velasco</td>
            <td>Juan Eduardo Linares</td>
            <td>Podrias pasar por mi gato</td>
            <td>13/04/1986</td>
        </tr>
        <tr>
            <td>Abner Velasco</td>
            <td>Juan Eduardo Linares</td>
            <td>Podrias pasar por mi gato</td>
            <td>13/04/1986</td>
        </tr>
    </tbody>
</table>