.callayout{
padding-top: 9px;
}
.control-section {
    padding-right: 0;
    padding-left: 0;
}

.e-schedule .e-schedule-toolbar .e-toolbar-items.e-tbar-pos {
    height: 62px !important;
    min-height: 62px !important;
}


