.btn-transparent {
    background-color: transparent;
    border-color: transparent;
    color: #001978;
}

.sidebar-open {
    min-width: 205px;
    flex: 1 1;
}

.sidebar-close {
    min-width: 0px;
    flex: 0;
}

.BtnLfcolor {
    background-color: #ffffff;
}

.ImgLf {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.uppercase {
    text-transform: uppercase;
}

.text-dark {
    color: #001978 !important;
}

.btn:focus {
    background: transparent;    
    border-color: transparent;
    box-shadow: none;
}


.logo-ext {
    height: 22px;
    padding-right: 10px;
}

.left-panel {
    background-color: #ffffff;
    border-width: 0px 1px 1px 0px;
    border-color: #d9dfe2;
    .sidebar {
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0;

        .nav-title {
            text-transform: uppercase;
            font-size: 0.833335rem;
            color: #929ba1;
            padding: 12px 0 6px 0;
            font-weight: 600;
            user-select: none;
        }

        li:not(.nav-title) {
            list-style-type: none;
            cursor: pointer;
            /*font-weight: 600;*/
            flex-shrink: 0;
            position: relative;
            /*border-radius: 0px 15px 15px 0px;*/
            /*width: 95%;*/
            user-select: none;

            > .msg-count {
                position: absolute;
                right: 5px;
                top: 5px;
                background-color: #e9ecef;
                padding: 2px 8px;
                color: #000;
                border-radius: 11px;
                font-size: 0.833335rem;
                padding: 2px 8px 3px 8px;
            }

            > svg {
                margin-right: 1rem;
            }

            &:not(.selected):not(.nav-title):hover {
                background-color: #fafafa !important;
            }

            &.selected {
                background-color: #e8f0fe;
            }
        }
    }
}
