.div-attach {
    background-color: #f4f4f4;
    white-space: nowrap;
    height: 50px;
    width: 260px;
}

.message-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 45px;
    bottom: 10px;

    > iframe {
        width: 98%;
        height: 98%;
        border: 0;
    }
}
