@import '../../../styles/partials/variables';
@import '@material/drawer/mdc-drawer';



.side-bar {
    display: flex;
   /* position: fixed;*/
    min-height: 100vh;
    width: 0px;
    border: 0;
    transition: width $drawerAnimationSpeed;
    top: 65px;
    padding-bottom: 85px;


    &.open {
        width: $drawerWidth;
        @include mdc-drawer-border-color($mdc-drawer-divider-color);
        border-right-width: 1px;
        border-right-style: solid;
    }

    &.dropZone {
        background-color: darken($mdc-drawer-surface-fill-color, 15%);
    }

    .logo {
        height: 28px;
        padding-left: 20px;
    }

    .plusbuttton{
        height:40px;
        width:40px;
        margin-right:10px;
        cursor:pointer;
    }


    .divheader {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        height: 65px;
        min-height: 0 !important;
        padding-left: 8px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        background-color: #f4f4f4;
        /*padding-right: 8px;*/
    }


    .top-container {
        display: flex;
        align-items: center;
        width: 100%;
        cursor: default;
        color: $mdc-theme-secondary;

        .toggle {
            margin-left: auto;
        }
    }

    .drawer-content {
        overflow-y: auto;
    }


    .scroll-style {
        /*overflow: hidden;*/
    }

    .lf-icon-sum:before {
        content: "\e9e2";
        font-size: 1rem;
    }

    .newcalendar {  
        position: relative;
        right: 10px;
        cursor: pointer;
        top: 8px;
    }

    .e-btn-sb-icons {
        color:#001978;
        line-height: 1;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

}

@media screen and (max-width: 600px) {
    .side-bar {
    top:57px
    }
    .divheader {
        height: 57px !important;
    }
}

.nav-title {
    text-transform: uppercase;
    font-size: 0.833335rem;
    color: #929ba1;
    padding: 12px 0 6px 0;
    font-weight: 600;
    user-select: none;
}

.calendartitle {    
    padding: 10px;
    margin-bottom: 50px;
}
.calendartitle .name {
    float: left;
    margin-top: 12px;
    
}

.calendartitle .button {
    float: right; 
}

.calendaritem  {
    padding-left:10px;
}
