/*.e-checkbox-wrapper .e-frame.e-check, .e-css.e-checkbox-wrapper .e-frame.e-check {
    background-color: red !important;
    border-color: red !important;
    color: #fff;
}*/
.container-selected {
    display: grid;
    grid-template-columns: auto max-content;
    width: 230px;
}