/*.e-checkbox-wrapper .e-frame.e-check, .e-css.e-checkbox-wrapper .e-frame.e-check {
    background-color: red !important;
    border-color: red !important;
    color: #fff;
}*/
.container-selected {
    display: grid;
    grid-template-columns: auto max-content;
    width: 238px;
    height: 42px;
    padding-top: 0.8rem;
}


.container-selected:hover {
    background-color: rgb(250, 250, 250);
}