@import '../../styles/partials/variables';
@import '@material/drawer/mdc-drawer';

.side-bar {
    display: flex;
    position: fixed;
    min-height: 100vh;
    width: 60px;
    @include mdc-drawer-border-color($mdc-drawer-divider-color);
    border-right-width: 1px;
    border-right-style: solid;
    transition: width $drawerAnimationSpeed;
    top: 77px;
    padding-bottom: 85px;
    border: 1px solid #e3e4e8;
    margin-left: 18px;

    &.open {
        width: $drawerWidth;
        @include mdc-drawer-border-color($mdc-drawer-divider-color);
        border-right-width: 1px;
        border-right-style: solid;
        top: 65px;
        margin-left: -1px;
    }

    &.dropZone {
        background-color: darken($mdc-drawer-surface-fill-color, 15%);
    }

    .logo {
        height: 28px;
        padding-left: 20px;
    }

    .plusbuttton{
        height:40px;
        width:40px;
        margin-right:10px;
        cursor:pointer;
    }

    .divheader {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        height: 65px;
        min-height: 0 !important;
        padding-left: 8px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        //background-color: #f4f4f4;
        /*padding-right: 8px;*/
    }

    .divheader-without-side-bar {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        height: 96px;
        min-height: 0 !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        margin-left: -19px;
    }

    .top-container {
        display: flex;
        align-items: center;
        width: 100%;
        cursor: default;
        color: $mdc-theme-secondary;

        .toggle {
            margin-left: auto;
        }
        .toggle-without-side-bar {
           margin-left: 11px;
        }
    }

    .drawer-content {
        overflow-y: auto;
    }

    .nueva-firma {
        color:#001978;
        padding:8px 15px;
        text-transform: uppercase;
        font-size:13px;
        display: flex;
        line-height:40px;
        span{
          font-size:70%;
          //margin-right:10px;
        }
    } 
    div > div > span > button {
        font-size: 18px !important;
        color: #001978 !important;
    }
}


.add-signature-toggle {
  display: flex;
}

.button-toggle {
  position: absolute;
  right: 0px;
}

@media screen and (max-width: 600px) {
    .side-bar {
    top:57px
    }
    .divheader {
        height: 57px !important;
    }
}
