@import '../styles/partials/variables';

$global-spinner-color: #333333;

body {    
    width: 100%;
    /*min-width: 1008px;*/
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute !important;
}

.btn-primary-mattobo {
    color: #fff !important;
    background-color: #001978 !important;
    border-color: #001978!important;
}

.connector {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin-left: -1px;   
    text-align: center;
    /*padding-top:86px;*/
}
.panelconnectortitle {
    text-align: center;
    padding-top: 41px;
    /*opacity: 0.6;*/
}

.app {
    display: flex;
    height: 100vh;


    .spinner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($global-spinner-color, 0.5);
        z-index: map-get($z-index, thermosphere);

        .spinnerPath {
            stroke: $global-spinner-color;
        }
    }

    .productpanel {
        background-color: #f4f4f4;
        border-left: 1px solid rgba(0, 0, 0, 0.12);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        position: relative;
        width: 62px;
        text-align: center;
        margin-top: -66px;
        padding-right: 5px;
        padding-top: 4px;
    }

    .btnselect {
        background-color: #001978;
        -webkit-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;
        display: none;
        height: 40px;
        position: absolute;
        right: 1px;
        top: 4px;
        width: 3px;
    }

    .productsbutton {
        padding-bottom: 15px
    }

    .spaceproduct {
        border-top: 1px solid #dadce0;
        content: '';
        display: block;
        -webkit-box-flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        flex: 1 0 auto;
        margin: 0 auto;
        padding-bottom: 16px;
        width: 20px;
    }
        

    .content-wrapper {
        flex-grow: 1;
        display: flex;
        margin-left: 0px;
        width: 100%;
        transition: margin $drawerAnimationSpeed;


        &.with-side-bar {
            margin-left: $drawerWidth;
            width: calc(100% - #{$drawerWidthtopbar});
        }

        .message-grid {
            background-color: #ffffff;
            flex-grow: 1;
            min-width: 0;
        }

        .message-viewer,
        .message-editor {
            background-color: #ffffff;
            flex-grow: 1;
            min-width: 0;
            margin-bottom: 130px;
        }          

        .fab-container {
            position: fixed;
            right: $default-spacing;
            bottom: $default-spacing;
            width: 60px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            z-index: 9999;
        }
    }
    /*@media (max-width: 1008px) {
        .productpanel {
            display: none;
        }
    }*/
}
