@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/fonts';
@import 'partials/base';
@import 'partials/mdc-checkbox-extended';
@import 'partials/mdc-snackbar-extended';
@import 'partials/mdc-switch-extended';
@import 'partials/mdc-textfield-extended';
@import 'partials/spinner';
@import 'partials/tinymce';
@import 'partials/tooltip';

// Third-party
@import '@material/button/mdc-button';
@import '@material/card/mdc-card';
@import '@material/checkbox/mdc-checkbox';
@import '@material/chips/mdc-chips';
@import '@material/dialog/mdc-dialog';
@import '@material/drawer/mdc-drawer';
@import '@material/fab/mdc-fab';
@import '@material/icon-button/mdc-icon-button';
@import '@material/line-ripple/mdc-line-ripple';
@import '@material/list/mdc-list';
@import '@material/menu/mdc-menu';
@import '@material/menu-surface/mdc-menu-surface';
@import '@material/top-app-bar/mdc-top-app-bar';

:not(.mdc-list--non-interactive)
  > :not(.mdc-list-item--disabled).mdc-list-item {
  will-change: auto !important;
}

.mdc-switch.mdc-switch--checked .mdc-switch__thumb {
  background-color: #767676 !important;
  background-color: var(--mdc-theme-secondary, #767676) !important;
  border-color: #767676 !important;
  border-color: #001978 !important;
}

.login--background___1ujQy
  .login--container___2Q4ry
  .card___1DExF
  .section___3WNyJ {
  margin: 16px 0;
  font-size: 1.2rem;
  color: #001978 !important;
}

.disabledimg {
  opacity: 0.3;
}

.e-richtexteditor.e-rte-tb-expand,
.e-richtexteditor.e-rte-tb-expand .e-rte-content {
  border: none;
  position: static !important;
}

.e-popup.e-dialog {
  top: 10px !important;
  min-width: 380px;
}

.e-rte-toolbar.e-control[class*='e-toolbar'],
.e-richtexteditor
  .e-rte-toolbar.e-toolbar.e-extended-toolbar.e-control[class*='e-toolbar'] {
  z-index: 1;
}

.e-btn.e-flat.e-primary {
  color: #001978 !important;
}

.e-btn.e-flat.e-primary:hover {
  background-color: rgba(0, 25, 120, 0.2) !important;
}

.e-btn.e-flat.e-primary:active {
  background-color: rgba(0, 25, 120, 0.5) !important;
}

.e-checkbox-wrapper .e-frame.e-check {
  background-color: #001978 !important;
}

.e-control input.e-input:focus {
  border-color: #001978 !important;
}

.e-rte-content span {
  display: inline !important;
}

.product-icon {
  color: #001978;
  font-size: 22px;
  cursor: pointer;
}

.mdc-icon-button {
  outline: none !important;
}

.e-schedule .e-schedule-toolbar .e-toolbar-items.e-tbar-pos {
    height: 63px;
    min-height: 63px;
}

.e-schedule .e-month-view .e-current-date .e-date-header, .e-schedule .e-month-agenda-view .e-current-date .e-date-header {
    background-color: #001978 !important;
    border-radius: 50%;
    color: #fff;
    width: 20px;
}

.e-schedule .e-month-view .e-date-header-wrap table td.e-current-day, .e-schedule .e-month-agenda-view .e-date-header-wrap table td.e-current-day {
    color: #001978 !important;
}

.e-calendar .e-content td.e-focused-date.e-today span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
    background: #eee;
    border: 1px solid #001978 !important;    
    color: #001978 !important;
    
}

.e-schedule .e-vertical-view .e-header-cells.e-current-day {
    color: #001978 !important;
}

.e-day-date-header e-current-day, .e-schedule .e-agenda-view .e-day-date-header.e-current-day, .e-schedule .e-vertical-view .e-header-cells.e-current-day {
    color: #fff !important;
    background-color: #001978 !important;
}


element.style {
}
.e-schedule .e-vertical-view .e-left-indent-wrap table tbody td.e-header-cells {
    border-bottom-width: 0;
}
.e-schedule .e-vertical-view .e-left-indent-wrap table tbody td.e-header-cells {
    border-bottom-width: 0;
}
.e-schedule .e-vertical-view .e-left-indent-wrap table tbody td {
    background-color: #fff;
    border-color: rgba(0,0,0,.12);
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: rgba(0,0,0,.87);
}
.e-schedule .e-vertical-view .e-left-indent-wrap table tbody td {
    background-color: #7f8cbb!important;
}


element.style {
}
.e-schedule .e-vertical-view .e-left-indent-wrap table tbody td.e-header-cells {
    border-bottom-width: 0;
}
.e-schedule .e-vertical-view .e-left-indent-wrap table tbody td.e-header-cells {
    border-bottom-width: 0;
}
.e-schedule .e-vertical-view .e-left-indent-wrap table tbody td {
    background-color: #fff;
    border-color: rgba(0,0,0,.12);
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: rgba(0,0,0,.87);
}
.e-schedule .e-vertical-view .e-left-indent-wrap table tbody td {
    background-color: #7f8cbb !important;
}

.e-tab .e-tab-header:not(.e-vertical) .e-toolbar-item.e-active {
    background-color: #001978 !important;
}

.e-tab .e-tab-header .e-toolbar-item.e-active.e-ileft .e-tab-text, .e-tab .e-tab-header .e-toolbar-item.e-active.e-iright .e-tab-text {
    color: #fff !important;
}

.e-tab .e-tab-header .e-indicator {
    background: #fff !important;
}

.e-tooltip-wrap.e-schedule-error .e-tip-content, .e-tooltip-wrap.e-schedule-error .e-tip-content label {
    color: #f44336 !important;
}

.e-tooltip-wrap.e-schedule-error {
    background-color: #fcdbe4 !important;
    border-color: #fcdbe4 !important;
    z-index: 1000 !important;
}

.e-dialog .e-dlg-header-content {
    background-color: #001978 !important;
    color: #fff !important;
}

.e-dialog .e-dlg-header-content + .e-dlg-content {
    padding-top: 10px !important;
}

.e-tab.e-background.e-accent .e-tab-header .e-indicator {
    background: #001978 !important;
}



.e-dlg-header, .e-dlg-header * {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
}

.e-icon-dlg-close {
    color: #fff;
}
.e-dialog.e-popup {
    width: auto;
}

.add-more-container {
  top: 70px !important;
}

#schedule_dialog_wrapper {
  max-height: 1221px !important;
}



