.lexon-title-list {
  color: #7f8cbb;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  border-bottom: 1px dotted #001978;
  margin-left: 10px;
  margin-right: 10px;
}

#scrl-container .scrollbar-container {
  position: absolute !important;
  top: 290px !important;
  bottom: 0 !important;
  height: unset !important;
  padding-left: 11px;
}

.lexon-document-list, .lexon-title-list {
  font-family: MTTMilano,Lato,Arial,sans-serif;
}

.lexon-document-list {
  padding: 0;
  width: 284px;
  float: left;
  max-height: 525px;
  margin-bottom: 10px;
  display: block;
}

.lexon-document-list .lexon-item {
  font-size: 14px;
  margin-top: 15px;
}

ul {
 list-style: none;
}

.lexon-document-list .lexon-item p {
    margin-bottom: .5rem;
}