.message-toolbar {
    border-bottom: 1px solid #d9dfe2;
    height: 64px;
    background-color: #f4f4f4;
    .action-btns {
        width: 98%;

        .action-btn {
            cursor: pointer;
            display: inline-block;
        }
    }
}
