
body{background:#fff; font-family: "MTTMilano", Arial, sans-serif; line-height:1.2}


.show {
       display: block !important;
   }
.hidden {
    display: none !important;
}

.bg-f4{ background: #f4f4f4}
.b-cdd2e5 {
    border: 1px solid #cdd2e5;
}

.btn {
    padding: 10px 20px;
    font-size: 13px;
}
.h2-play{
    font-size: 1.8em;
}

.noPadd{ padding:0;}
.mB0{margin-bottom: 0}
.mB10{margin-bottom: 10px}
.mB15{margin-bottom: 15px}
.mB20{margin-bottom: 20px}
.mB30{margin-bottom: 30px}
.mB40{margin-bottom: 40px}
.mB50{margin-bottom: 50px}
.m0{margin: 0;}
.mT10{margin-top:10px;}
.mT15{margin-top:15px}
.mT20{margin-top:20px}
.mT30{margin-top:30px}
.mT40{margin-top:40px}


/* INTRODUCCIÓN */
.text-introduction {
    font-family: "MTTMilano", Arial, sans-serif;
    color: #001978;
    font-size: 4em;
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.banner-cn {
    position: relative;
    width: 100%; !important;
    height: 853px;
    margin-top: 0;
    background: #F4F4F4 url(../img/fondocn.jpg) no-repeat center 0;
    padding-top: 10px;
}
.banner-lx {
    position: relative;
    width: 100%; !important;
    height: 900px;
    margin-top: 0;
    background: #F4F4F4 url(../img/fondolx.jpg) no-repeat center 0;
    padding-top: 10px;
}
.banner-ct {
    position: relative;
    width: 100%; !important;
    height: 900px;
    margin-top: 0;
    background: #F4F4F4 url(../img/fondoct.jpg) no-repeat center 0;
    padding-top: 10px;
}


/* DESTACADO */
.desc{background:#FFF}
.desc p{margin-bottom:30px;font-size:1em}

/*.container{width:1200px;}
.cover{height:385px;object-fit:cover}
.cross-content img.ilus{width:100%;height:100%}
@media(min-width:992px){.cross-content img.ilus{height:295px;object-fit:cover}}
@media(max-width:991px) and (min-width:768px){.cross-content img.ilus{height:330px;object-fit:cover}}*/


/* menú */

.navbar {padding:0; width:100%; background: #FFF}
.navbar .navbar-nav {width:100%;}
.navbar .navbar-nav .nav-item{border-bottom:1px solid #001978;  border-left:4px solid #001978}
.navbar .navbar-nav .nav-item.active{border-bottom:1px solid #001978; background: #001978; color:#FFF;}
.navbar .navbar-nav .nav-item.active .nav-link{color:#FFF;}
.navbar .navbar-nav .nav-link{color:#001978; font-size:14px; text-transform:uppercase; font-weight:500; padding:15px;}
a.button-all{    color:#007ea6; text-transform: uppercase;  text-decoration: none; font-weight:700; margin-top:10px}
a.button-all:hover{text-decoration:underline}


/* header */
.navbar.navbar-header{padding: 15px 0;background: #001978;}
.menu-header{text-transform:uppercase; font-size:14px; padding:15px 15px 0 0;}
.menu-header .item-menu{float: right; list-style-type: none; padding:0 0 0 25px;}
.menu-header .item-menu .user-acces{padding: 5px 10px;font-weight: 500;font-size: 12px;border: 1px solid #FFF;color: #FFF;}
.menu-header .item-menu a{font-weight: 500;font-size: 12px ;color: #FFF;}


/* ESTILOS PÁGINA DETALLE */

@media (max-width: 426px) {
    .banner-lx {
        height: 975px;
    }

    
    /*.container {
       max-width: 767px;
    }*/
 

}
@media (min-width: 768px){
    /*.container {
        max-width: 760px;
    }*/
}
@media (min-width: 992px){
    /*.container {
        max-width: 990px;
    }*/
    .cross-content img.ilus {
        height: 395px;
        object-fit: cover;
    }
}
@media (min-width:768px) and ( max-width: 991px){
    .menu-header{padding:15px 0 0 0;}
    .navbar-brand{margin-right: 0;     padding-left: 0;   padding-right: 0;}
    .menu-header .item-menu{padding:0 0 0 20px}
    .navbar-expand-md .navbar-collapse{
        padding:0;
    }

}
@media (min-width: 1200px){
    /*.container {
        max-width: 1200px;
    }*/
}

