body {
  background-color: #F4F4F4;
}
.contentpresentation {
  width: 320px;
  height: 100%;  
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: white;
  padding-top: 75px;
}
/* 
.container {
  width: 100%;
}

.left {
  float: left;

  border: 1px solid red;
  box-sizing: border-box;
}

.right {
  float: right;
  width: 319px;

  border: 1px solid red;
  box-sizing: border-box;
} */