
.main-header-img {
    vertical-align: middle;
    border-style: none;
    padding-left:15px;
}
.main-header-imap-div{
    padding-left:45px;
}
.modules-item-custom {
    padding-left: 5px;
    color: #fff;
}
.modules-item-custom-space {
    width:70px;
}
