.w3-btn{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}

.w3-btn:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.form-box {
    padding: 20px;
    max-width: 450px;
    border: 1px solid #7f8cbb;
}

.margin-top {
    margin-top: 20px;
}
