header {
  height: 60px;
  width: 319px;
  border: 1px solid #000000;
  background-color: #001978;
  position: fixed;
  top: 0;
}
header h1 {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #ffffff;
  padding-top: 20px;
}

header .tools-bar {
  padding-top: 10px;
}

header .tools-bar a {
  color: #ffffff;
  font-size: 20px;
  display: block;
  width: 34px;
  height: 34px;
  padding: 7px;
  transition: background-color 0.3ms;
  border-radius: 50%;
}
header .tools-bar a:hover {
  background-color: #e5e8f1;
  color: #001978;
}
