
.menubutton {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    border: 0;
    padding-right: 10px;
    //color: transparent;
    /*float: right;*/
}

.menubutton:focus {
    outline: none;
    box-shadow: none;   
}
.menubutton:hover {
    color: black;
}

/*.maindiv:hover + .close {
    display: block;
    color: red;
}*/

.closeb {    
   
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
}

.closeb:hover {
    //cursor: pointer;
    background: rgba(255,255,255,0.7);
}




