.action-btn {
  cursor: pointer;
  display: inline-block;
  margin-top: 4px;
  margin-left: 15px;
}

.align-center {
  margin-top: 8px;
}
.margin-right-10 {
  margin-right:10px;
  margin-left:5px;
}

.right-buttons {
  width: 100%;
  text-align: right;
  margin-right: -28px;
}

.with-side-bar{
  display:none !important;
}

.padding-top-10 {
  padding-top:10px;
}

.margin-bottom-10{
  margin-bottom:10px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 12px;
}

.msg-toolbar > div span {
  margin-left: 10px;
  text-transform: uppercase;
}

.btn-group {
  margin-right: 10px;
}

// .msg-toolbar > div > div {
//     width: 50px;
// }
