@font-face {
    font-family: 'LefebvreFont';
    src: local('LefebvreFont'), url(/public/assets/fonts/lf-font.woff) format('woff');
}

.menu-header-notices__title-header {
    float: left;
    width: 100%;
    height: 28px;   
    color: #001978;
    font-family: MTTMilano;
    font-size: 18px;
    text-align: left;   
    margin-left: 20px;
    margin-top: 10px;
}

.product-icon {
    font-size: 120px;
    color: #001978;
}

.menu-minihub-container {
    position: absolute;
    background-color: white;
    top: 60px;
    right: 7px;
    width: 385px;
    z-index: 110;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #cdd1e0;
    border-radius: 0;
    color: #001978;
}

.icon-product{
    color:#ffffff;
}

.menu-minihub {   
    cursor: pointer;
}

.menu-header__blocks {
    float: left;
    position: relative;
    width: 100%;
}

.menu-header__block-product {
    width: 85%;
    margin-bottom: 31px;
    text-transform: uppercase;
    color: #001978;
    font-family: MTTMilano;
    font-size: 12px;
    font-weight: 700;
    
}

.menu-header__body-generic {
    position: relative;
    float: left;
    width: 100%;
    text-align: left;
    padding-top: 20px;
}

product:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.menu-header__block-icon-product:hover, .menu-header__block-icon-product:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.menu-header__block-icon-product {
    height: 50px;
    line-height: 52px;
    width: 50px;
    margin: 0 auto 9px auto;
    background-color: #001978;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 27px;
    border: none;
    outline: none;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.menu-main-panel {
    height: 60vh;
    position: relative;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.menu-header__blocks {
    text-align: center;
    padding-left: 0px;
    grid-template-columns: auto auto;
    display: grid;
    padding-right: 5px;
    margin-left: 6px;
}

.menu-header__text-products {
    color: #9A9898;
    font-family: MTTMilano;
    font-size: 12px !important;
    line-height: 20px;
}



