body {
  background-color: #f4f4f4;
}
.contentpresentation {
  width: 320px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: white;
  padding-top: 75px;
}
