@import '../../styles/partials/variables';

.itemContainer {
  padding-left: 15px;

  .item {
    margin-left: -100%;
    padding-left: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    height: auto;
    border-radius: 0;
   

    &:nth-child(1) {
      margin-top: 0px;
     
    }

    i {
      line-height: 32px;
    }
  }
}
.childList {
  padding: 0;
}

.title-nav-firmas{
  background:#001978;
  color:#FFF;
  text-transform: uppercase;
  //padding:15px;
  padding: 8px 8px 15px 10px;
  span{
    font-size: 28px;
    margin: 0 6px;
    position: relative;
    top: 8px;
  }
}

.title-nav-emails{
  background:#001978;
  color:#FFF;
  text-transform: uppercase;
  //padding:15px;
  padding: 15px 8px 15px 10px;
  span{
    font-size:18px;
    margin:0 10px;
  }
}

.title-nav-disble {
    background: #9c9c9c;
    cursor: pointer;
}

.nav-firmas{
  margin:0;
  padding-left:0;
  
  li {
    &.todas {
      background: #e6e9f2;
      width: 100%;
      a {
        color: #001978;
        span:before {
          color: #001978;
        }
        &:hover{
         background: #D2D2D4;
         color: #001978;
          span:before {
            color: #001978;
          }
        }
        &:active{
         background: #D2D2D4;
         color: #001978;
          span:before {
           color: #001978;
          }         
        }
      }
    }
    &.en-progreso {
      background: rgba(234, 160, 1, 0.1);
      width: 100%;
      a {
        color: #e9a128;
        span:before {
          color: #e9a128;
        }
        &:hover{
          background: #e9a128;
          color:#FFF;
          span:before {
            color:#FFF ;
          }
        }
        &:active{
          background: #e9a128;
          color:#FFF;
          span:before {
            color:#FFF ;
          }
        }
      }
    }
    &.completadas {
      background: rgba(33, 126, 5, 0.1);
      width: 100%;
      a {
        color: #217e05;
        span:before {
          color: #217e05;
        }
        &:hover{
          background: #217e05;
          color:#FFF;
          span:before {
            color:#FFF ;
          }
        }
        &:active{
          background: #217e05;
          color:#FFF;
          span:before {
            color:#FFF ;
          }
        }
      }
    }
    &.canceladas {
      background: rgba(202, 1, 35, 0.1);
      width: 100%;
      a {
        color: #c90223;
        span:before {
          color: #c90223;
        }
        &:hover{
          background: #c90223;
          color:#FFF;
          span:before {
            color:#FFF ;
          }
        }
        &:active{
          background: #c90223;
          color:#FFF;
          span:before {
            color:#FFF ;
          }
        }
      }

    }
    a{
      padding:13px 20px;
      display:block;
      margin-top:1px;
      span {
        font-size:14px;
        &:before {
          margin-right: 15px;
          font-size:20px;
        }
      }
    }

  }
}


