.add-more-container {
  padding-top: 20px;
  padding-bottom: 1rem;
}
.add-more {
  color: #001978;
  font-size: 16px;
  font-weight: bold;
}
.add-more strong {
  text-decoration: underline;
  line-height: 19px;
  font-size: 16px;
}
.add-more span {
  color: #001978;
  font-size: 20px;
  width: 34px;
  height: 34px;
  padding: 7px;
  transition: background-color 0.3ms;
  border-radius: 50%;
}
.add-more:hover span {
  background-color: #e5e8f1;
}
