@mixin lf-regular {
    font-family: MTTMilano, Lato, Arial, sans-serif;
}

@mixin lf-medium {
    font-family: MTTMilano-Medium, Lato, Arial, sans-serif;
}

@mixin lf-bold {
    font-family: MTTMilano-Bold, Lato, Arial, sans-serif;
}